---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <meta name="robots" content="noindex">
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Startup Web Demo"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get templates',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Improve <span class="hidden sm:inline">the online presence of</span> your <span
        class="text-accent dark:text-white highlight">Startup</span
      > with Astrowind templates
    </Fragment>

    <Fragment slot="subtitle">
      Step into the spotlight with <span class="font-semibold">Astrowind</span> templates, your pathway to fortifying
      your startup's digital footprint, fostering credibility, and expanding your reach.
    </Fragment>

  </Hero>


  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <section class="bg-primary">

  
    <div class="px-8 2xl:max-w-7xl mx-auto py-32">
      <div class="space-y-2">
        <div
          class="h-0.5 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="1000">
        </div>
        <h3
          class="text-secondary text-base font-medium"
          data-aos="fade-up"
          data-aos-duration="1500">
          <span>Main</span>
          <span class="font-bold">projects</span>
        </h3>
      </div>
      <ul
        class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-32"
        role="list">
        <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="1500">
          <a href="https://www.lexingtonthemes.com/">
            <div class="h-full flex flex-col justify-between">
              <div>
                <p
                  class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                  01.
                </p>
                <p class="italic shrink-0">Lexington Themes</p>
                <p class="text-base mt-3 leading-relaxed">
                  Premium themes and UI Kits For designers, developers,
                  businesses, and personal use — Beautifully crafted with
                  Astro.js, and Tailwind CSS — Simple & easy to customize.
                </p>
              </div>
              <div>
                <p class="mt-3 text-base font-semibold">
                  Check out Lexington Themes &nbsp; ↗
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2000">
          <a href="https://www.windstatic.com/">
            <div class="h-full flex flex-col justify-between">
              <div>
                <p
                  class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                  02.
                </p>
                <p class="italic shrink-0">Windstatic</p>
                <p class="text-base mt-3 leading-relaxed">
                  A set of 161 elements & layouts made with Tailwind CSS and
                  Alpine.js Skillfully designed with an eye for aesthetics,
                  offering an excellent starting point for your upcoming project.
                </p>
              </div>
              <div>
                <p class="mt-3 text-base font-semibold">
                  Have a look to Windstatic &nbsp; ↗
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2500">
          <a href="https://www.colorsandfonts.com/">
            <div class="h-full flex flex-col justify-between">
              <div>
                <p
                  class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                  03.
                </p>
                <p class="italic shrink-0">Colors & Fonts</p>
                <p class="text-base mt-3 leading-relaxed">
                  Color and typography resources and inspiration ━ for Web
                  Developers and Digital Designers.
                </p>
              </div>
              <div>
                <p class="mt-3 text-base font-semibold">
                  Grab some hues on Colors & fonts &nbsp; ↗
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="3000">
          <a href="https://www.svgdoodles.com/">
            <div class="h-full flex flex-col justify-between">
              <div>
                <p
                  class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                  04.
                </p>
                <p class="italic shrink-0">SVG Doodles </p>
                <p class="text-base mt-3 leading-relaxed">
                 A free collection of 208 super duper.
                </p>
              </div>
              <div>
                <p class="mt-3 text-base font-semibold">
                  Get some wallpapers &nbsp; ↗
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="mt-32 space-y-2">
        <div class="h-0.5 bg-secondary"></div>
        <h3 class="text-secondary text-base font-medium">
          <span>Other</span>
          <span class="font-bold">projects</span>
        </h3>
      </div>
  
      <ul
        class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 divide-primary lg:grid-cols-4 items-start text-primary mt-3">
        {
          otherprojects.map((template) => (
            <>
              <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
                <a
                  href={template.url}
                  class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                  <div class="p-3">
                    <p class="italic shrink-0">{template.title}</p>
                  </div>
                  <div class="p-3 ">
                    <p class="text-base leading-relaxed">{template.description}</p>
                  </div>
                </a>
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </section>

  <!-- Features Widget *************** -->

  

  <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Loading Times',
        description: 'Optimized for speed to ensure a smooth user experience and favorable search engine rankings.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />



  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      target: '_blank',
      text: 'Get templates',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>
</Layout>
