---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3-3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Contact from '~/components/widgets/elr-contact.astro';

const metadata = {
  title: 'Rénovations Extérieures en Montérégie - K-Constructions',
  description: 'Découvrez nos services de rénovation extérieure en Montérégie. K-Constructions offre qualité et expertise pour transformer votre espace extérieur.',
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Rénovations extérieures"
    title="Vous souhsaitez rénover votre domicile?"
    subtitle="En faisant affaire avec l'entrepreneur général K-Constructions, vous avez l'opportunité de vous assurer que peu importe le quart de métier que vous allez avoir besoin, nous allons l'avoir."
    actions={[{ variant:"primary", text: 'SOUMISSION GRATUITE', href: '#soumission' }]}
    image={{
      src: 'https://raw.githubusercontent.com/Elragency/astro-construction/721841c30c4f94caeeb75b8259e0c2894ce58d5f/src/assets/images/banners/exterior.webp',
      alt: 'Entrepreneur Général K-Constructions',
    }}
    
  />

  <!-- Features2 Widget ************** -->

  <Features3
  title="Découvrez nos services"
  subtitle="Peu importe ce que vous avez besoin, nous pouvons vous l'offrir"
  columns={3}
  items={[
    {
      title: 'Paysagement',
      description:
      "Notre équipe de paysagistes crée des espaces extérieurs harmonieux et fonctionnels. En combinant design innovant et expertise horticole, nous transformons jardins, terrasses et espaces verts en lieux de détente et de beauté, reflétant votre vision et améliorant l'attrait de votre propriété.",
      icon: 'tabler:fountain',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/paysagement'
    },
    {
      title: 'Terrassses',
      description: "Nous concevons et construisons des terrasses sur mesure, alliant esthétique et durabilité. En utilisant des matériaux de qualité adaptés à vos besoins et au climat local, nous créons l'espace extérieur parfait pour vos moments de détente, de loisirs et de convivialité en plein air.",
      icon: 'tabler:wood',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/terrasses'
    },
    {
      title: 'Cabanons',
      description: "Nos constructions de cabanons allient fonctionnalité et design. Que ce soit pour du rangement supplémentaire, un atelier ou un espace de loisirs, nous offrons des solutions personnalisées, robustes et esthétiques, intégrées harmonieusement à votre environnement extérieur.",
      icon: 'tabler:home-move',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/cabanons'
    },
    {
      title: 'Balcons',
      description:
      "Spécialisés dans la conception, la rénovation et l'aménagement de balcons. Que ce soit pour une rénovation complète, l'ajout de garde-corps ou simplement pour rafraîchir son apparence, nous utilisons des matériaux de qualité et des designs innovants pour créer un balcon sécuritaire, esthétique et fonctionnel.",
      icon: 'tabler:building-bridge',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/balcons'
    },
    {
      title: 'Portes & Fenêtres',
      description:
      "Experts en installation de portes et fenêtres, nous améliorons l'efficacité énergétique, la sécurité et l'esthétique de votre domicile. Avec une sélection variée de styles et de matériaux, nous assurons une installation précise pour un confort et une performance accrus.",
      icon: 'tabler:door',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/portes'
    },
    {
      title: 'Signes',
      description: "Nous offrons des services de conception, fabrication et installation de signalisation pour entreprises et particuliers. Que ce soit pour des enseignes commerciales, des panneaux directionnels ou des plaques personnalisées, nos solutions sont conçues pour maximiser votre visibilité et refléter votre image de marque.",
      icon: 'tabler:flag-2',
      buttonText: 'Voir Plus',
      buttonLink: 'exterieur/signes'
    },
  ]}
/>


  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Qualité Irréprochable',
        description:
          'Nous avons une qualité de travail irréprochable et votre satisfaction est notre plus grande priorité.',
        icon: 'tabler:wand',
      },
      {
        title: 'Service Personnalisé',
        description:
          "Vos besoins sont uniques, il est donc normal d'avoir des services adaptés à vos désirs.",
        icon: 'tabler:settings',
      },
      {
        title: 'Meilleur Prix',
        description:
          'Nous garantissons la meilleure quaité prix possible sur le marché afin de vous permettre de faire vos projets en fonction de votre budget.',
        icon: 'tabler:coin',
      },
      // {
      //   title: 'Preview and Mockup Views',
      //   description:
      //     'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
      //   icon: 'tabler:carousel-horizontal',
      // },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Rénovations extérieures par K-Constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Notre offre</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Des commantaires de nos clients"
    testimonials={[
      {
        testimonial: `Le travail effectué sur notre toiture dépasse toutes nos attentes. Non seulement l'aspect est visuellement impressionnant, mais la qualité et la durabilité des matériaux utilisés nous assurent une tranquillité d'esprit pour les années à venir.`,
        name: 'Emilie Pateneaude',
        job: 'Mont-Royal, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: "Avis d'un client de K-constructions satisfaits",
        },
      },
      {
        testimonial: "Les solutions de plomberie proposées par K-Constructions ont transformé notre expérience quotidienne. Leur intervention rapide et l'efficacité de leur service client ont résolu des problèmes récurrents, améliorant considérablement le confort de notre foyer.",
        name: 'Sarah Tremblay',
        job: 'Rosement, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: "L'expertise des électriciens de K-Constructions a apporté une valeur inestimable à notre projet. Leur approche axée sur la sécurité et l'innovation technologique a non seulement modernisé notre installation électrique mais aussi optimisé notre consommation énergétique.",
        name: 'Marc_Andre Gauthier',
        job: 'Brossard, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Témoignanges de clients de K-constructions',
        },
      },
    ]}

  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'APPELEZ-NOUS',
      class : 'custom-btn btn-14',
      href: 'tel:4388625985',
    }]}
    title="Votre projet est trop urgent?"
    subtitle="Ne perdez pas votre inspiration, appelez nous dès maintenant pour planifier le tout rapidement."
  />

  <Contact />

  <!-- <button class="custom-btn btn-14">Read More</button> -->




</Layout>

<style>
/* 14 */
.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}
.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}
</style>