---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3-3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Contact from '~/components/widgets/elr-contact.astro';

const metadata = {
  title: 'K-Constructions | Expertise en Rénovation Intérieure - Qualité et Fiabilité',
  description: 'Bénéficiez d’une expertise en rénovation intérieure avec K-Constructions. Qualité, fiabilité et accompagnement sur mesure pour tous vos projets.',
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Rénovations intérieures"
    title="Vous souhsaitez rénover votre domicile?"
    subtitle="En faisant affaire avec l'entrepreneur général K-Constructions, vous avez l'opportunité de vous assurer que peu importe le quart de métier que vous allez avoir besoin, nous allons l'avoir."
    actions={[{ variant:"primary", text: 'SOUMISSION GRATUITE', href: '#soumission' }]}
    image={{
      src: 'https://raw.githubusercontent.com/Elragency/astro-construction/721841c30c4f94caeeb75b8259e0c2894ce58d5f/src/assets/images/banners/interieurs.webp',
      alt: 'Entrepreneur Général K-Constructions',
    }}
    
  />

  <!-- Features2 Widget ************** -->

  <Features3
    title="Découvrez nos services"
    subtitle="Peu importe ce que vous avez besoin, nous pouvons vous l'offrir"
    columns={3}
    items={[
      {
        title: 'Salle De Bain',
        description:
        "Nos experts en rénovation de salle de bain transforment votre espace avec des designs modernes et fonctionnels. En mettant l'accent sur l'esthétique, la fonctionnalité et l'utilisation de matériaux de qualité, nous créons la salle de bain de vos rêves, assurant confort et valeur ajoutée à votre domicile.",
        icon: 'tabler:bath',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/toilette'
      },
      {
        title: 'Cuisine',
        description: "Spécialistes en rénovation de cuisine, nous concevons des espaces sur mesure qui allient beauté, efficacité et innovation. Priorisant vos besoins et votre style, nous utilisons des matériaux haut de gamme et les dernières tendances pour créer une cuisine qui reflète votre personnalité et améliore votre quotidien.",
        icon: 'tabler:chef-hat',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/cuisine'
      },
      {
        title: 'Plancher',
        description: "Experts en revêtements de sol, nous offrons une vaste gamme d'options, de la pose de parquet traditionnel aux solutions modernes comme le plancher chauffant. En privilégiant la durabilité, le confort sous le pied et l'esthétique, nous sublimons chaque pièce de votre habitat.",
        icon: 'tabler:axe',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/plancher'
      },
      {
        title: 'Peinture',
        description:
        "Notre équipe de peintres professionnels embellit vos espaces intérieurs et extérieurs avec précision et soin. En sélectionnant des peintures de qualité supérieure et en appliquant des techniques éprouvées, nous garantissons un fini impeccable qui transforme et valorise votre propriété.",
        icon: 'tabler:paint',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/peinture'
      },
      {
        title: 'Gypse',
        description:
        "Nos spécialistes en pose de gypse mettent en œuvre leur savoir-faire pour vos projets de construction et de rénovation. En se concentrant sur la qualité de finition, l'isolation acoustique et la résistance, nous assurons des installations impeccables pour un intérieur élégant et fonctionnel.",
        icon: 'tabler:tallymark-4',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/peinture'
      },
      {
        title: 'Hommes à tout faire',
        description: "Nos hommes à tout faire sont des experts polyvalents capables de gérer une multitude de tâches de réparation, de maintenance et d'amélioration de l'habitat. En combinant une large gamme de compétences techniques avec un engagement envers la qualité et l'efficacité, nous répondons à vos besoins les plus variés, garantissant des solutions pratiques pour chaque défi de votre domicile.",
        icon: 'tabler:hand-stop',
        buttonText: 'Voir Plus',
        buttonLink: 'interieur/homme'
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Qualité Irréprochable',
        description:
          'Nous avons une qualité de travail irréprochable et votre satisfaction est notre plus grande priorité.',
        icon: 'tabler:wand',
      },
      {
        title: 'Service Personnalisé',
        description:
          "Vos besoins sont uniques, il est donc normal d'avoir des services adaptés à vos désirs.",
        icon: 'tabler:settings',
      },
      {
        title: 'Meilleur Prix',
        description:
          'Nous garantissons la meilleure quaité prix possible sur le marché afin de vous permettre de faire vos projets en fonction de votre budget.',
        icon: 'tabler:coin',
      },
      // {
      //   title: 'Preview and Mockup Views',
      //   description:
      //     'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
      //   icon: 'tabler:carousel-horizontal',
      // },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: "Rénovations sur mesure réalisées par l'entrepreneur général K-constructions",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Notre offre</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Des commantaires de nos clients"
    testimonials={[
      {
        testimonial: `Le travail effectué sur notre toiture dépasse toutes nos attentes. Non seulement l'aspect est visuellement impressionnant, mais la qualité et la durabilité des matériaux utilisés nous assurent une tranquillité d'esprit pour les années à venir.`,
        name: 'Emilie Pateneaude',
        job: 'Mont-Royal, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: "Avis d'un client de K-constructions satisfaits",
        },
      },
      {
        testimonial: "Les solutions de plomberie proposées par K-Constructions ont transformé notre expérience quotidienne. Leur intervention rapide et l'efficacité de leur service client ont résolu des problèmes récurrents, améliorant considérablement le confort de notre foyer.",
        name: 'Sarah Tremblay',
        job: 'Rosement, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: "L'expertise des électriciens de K-Constructions a apporté une valeur inestimable à notre projet. Leur approche axée sur la sécurité et l'innovation technologique a non seulement modernisé notre installation électrique mais aussi optimisé notre consommation énergétique.",
        name: 'Marc_Andre Gauthier',
        job: 'Brossard, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}

  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'APPELEZ-NOUS',
      class : 'custom-btn btn-14',
      href: 'tel:4388625985',
    }]}
    title="Votre projet est trop urgent?"
    subtitle="Ne perdez pas votre inspiration, appelez nous dès maintenant pour planifier le tout rapidement."
  />

  <Contact />

  <!-- <button class="custom-btn btn-14">Read More</button> -->




</Layout>

<style>
/* 14 */
.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}
.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}
</style>