---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3-3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Contact from '~/components/widgets/elr-contact.astro';

const metadata = {
  title: 'Services de Construction et Rénovation - K-Constructions',
  description: 'Explorez une gamme complète de services de construction et rénovation chez K-Constructions. Qualité supérieure, conseils experts et résultats impressionnants.',
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Nous avons les experts requis pour mener à bien tous vos besoins."
    subtitle="En faisant affaire avec l'entrepreneur général K-Constructions, vous avez l'opportunité de vous assurer que peu importe le quart de métier que vous allez avoir besoin, nous allons l'avoir."
    actions={[{ variant:"primary", text: 'SOUMISSION GRATUITE', href: '#soumission' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1589939705384-5185137a7f0f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Entrepreneur Général K-Constructions',
    }}
    
  />

  <!-- Features2 Widget ************** -->

  <Features3
    title="Découvrez nos services"
    subtitle="Peu importe ce que vous avez besoin, nous pouvons vous l'offrir"
    columns={3}
    items={[
      {
        title: 'Électriciens',
        description:
          'Spécialistes en électricité, nous assurons des installations sûres et modernes. En se concentrant sur la sécurité, les dernières technologies, et une assistance personnalisée, nous répondons à vos exigences.',
        icon: 'tabler:bolt',
        buttonText: 'Voir Plus',
        buttonLink: 'services/electricien'
      },
      {
        title: 'Plombiers',
        description:
          'Experts en plomberie, nous offrons des solutions complètes. Priorisant la fiabilité, les innovations techniques et le service client, nous servons aussi bien les projets résidentiels que commerciaux.',
        icon: 'tabler:tool',
        buttonText: 'Voir Plus',
        buttonLink: 'services/plombier'
      },
      {
        title: 'Couvreurs',
        description: `Spécialistes de la toiture, nos services garantissent une protection durable. Avec une attention particulière aux matériaux, techniques de pose, et esthétique, nous répondons à vos besoins.`,
        icon: 'tabler:building-pavilion',
        buttonText: 'Voir Plus',
        buttonLink: 'services/couvreurs'
      },
      {
        title: 'Sinistres',
        description:
          "Experts en gestion de sinistres, nous restaurons votre espace à son état optimal. En mettant l'accent sur une intervention rapide, des solutions durables et un suivi minutieux, nous accompagnons chaque étape.",
        icon: 'tabler:hammer',
        buttonText: 'Voir Plus',
        buttonLink: 'services/sinistres'
      },
      {
        title: 'HVAC',
        description:
          "Professionnels HVAC, nous optimisons votre confort thermique toute l'année. Avec un focus sur l'efficacité énergétique et un service client irréprochable, nous couvrons tous vos besoins en climatisation et chauffage.",
        icon: 'tabler:wind',
        buttonText: 'Voir Plus',
        buttonLink: 'services/hvac'
      },
      {
        title: 'Briques',
        description:
          "Maîtres en briques et maçonnerie, nous façonnons l'excellence de vos constructions. Priorisant la qualité des matériaux, la précision de l'artisanat et l'esthétique, nous réalisons des projets sur mesure pour vous.",
        icon: 'tabler:wall',
        buttonText: 'Voir Plus',
        buttonLink: 'services/briques'
      },
      {
        title: 'Planchers en Epoxy',
        description:
        "Pour un service d'installation de planchers en Epoxy, offrant une solution durable, esthétique et personnalisable pour tous types de surfaces. Idéal pour les espaces commerciaux, industriels ou résidentiels.",
        icon: 'tabler:ironing-3',
        buttonText: 'Voir Plus',
        buttonLink: 'services/epoxy'
      },
      {
        title: 'Entretien Ménager',
        description: `Notre équipe d'entretien ménager professionnel assure la propreté et l'hygiène de votre espace, contribuant à un environnement sain et accueillant.`,
        icon: 'tabler:wash-machine',
        buttonText: 'Voir Plus',
        buttonLink: 'services/nettoyage'
      },
      {
        title: "Excavation",
        description: "Notre service d'excavation combine expertise technique et équipements de pointe pour réaliser tous types de projets, des fondations au terrassement.",
        icon: "tabler:backhoe",
        buttonText: "Voir Plus",
        buttonLink: "services/excavation"
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Qualité Irréprochable',
        description:
          'Nous avons une qualité de travail irréprochable et votre satisfaction est notre plus grande priorité.',
        icon: 'tabler:wand',
      },
      {
        title: 'Service Personnalisé',
        description:
          "Vos besoins sont uniques, il est donc normal d'avoir des services adaptés à vos désirs.",
        icon: 'tabler:settings',
      },
      {
        title: 'Meilleur Prix',
        description:
          'Nous garantissons la meilleure quaité prix possible sur le marché afin de vous permettre de faire vos projets en fonction de votre budget.',
        icon: 'tabler:coin',
      },
      // {
      //   title: 'Preview and Mockup Views',
      //   description:
      //     'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
      //   icon: 'tabler:carousel-horizontal',
      // },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1677522805495-20700faf5802?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Services professionels de K-Constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Notre offre</h3>
    </Fragment>
  </Content>

  <Testimonials
    title="Des commantaires de nos clients"
    testimonials={[
      {
        testimonial: `Le travail effectué sur notre toiture dépasse toutes nos attentes. Non seulement l'aspect est visuellement impressionnant, mais la qualité et la durabilité des matériaux utilisés nous assurent une tranquillité d'esprit pour les années à venir.`,
        name: 'Emilie Pateneaude',
        job: 'Mont-Royal, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: "Avis d'un client de K-constructions satisfaits",
        },
      },
      {
        testimonial: "Les solutions de plomberie proposées par K-Constructions ont transformé notre expérience quotidienne. Leur intervention rapide et l'efficacité de leur service client ont résolu des problèmes récurrents, améliorant considérablement le confort de notre foyer.",
        name: 'Sarah Tremblay',
        job: 'Rosement, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: "L'expertise des électriciens de K-Constructions a apporté une valeur inestimable à notre projet. Leur approche axée sur la sécurité et l'innovation technologique a non seulement modernisé notre installation électrique mais aussi optimisé notre consommation énergétique.",
        name: 'Marc_Andre Gauthier',
        job: 'Brossard, QC',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}

  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'APPELEZ-NOUS',
      class : 'custom-btn btn-14',
      href: 'tel:4388625985',
    }]}
    title="Votre projet est trop urgent?"
    subtitle="Ne perdez pas votre inspiration, appelez nous dès maintenant pour planifier le tout rapidement."
  />

  <Contact />

  <!-- <button class="custom-btn btn-14">Read More</button> -->




</Layout>

<style>
/* 14 */
.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}
.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}
</style>