---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'K-Constructions - Rénovations de Cuisine Sur Mesure',
  description: "Transformez votre cuisine avec les rénovations sur mesure de K-Constructions. Conceptions uniques, matériaux de qualité et réalisation impeccable.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/dd6214e64e3d64e1735184ee2150a9a1a3da82b6/src/assets/images/banners/banner-cuisine.webp"
              alt="Rénovation de cuisine sur mesure par K-constructions à montréal et ses environs'"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              RÉNOVATION DE CUISINE À MONTRÉAL ET SES ENVIRONS
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              UN PROJET POUR VOTRE DEMEURE?
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                SOUMISSION GRATUITE
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="m-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >FAITE AFFAIRE AVEC LE GROUPE K-CONSTRUCTIONS</p>
            <h2 class="text-2xl font-bold mb-4 test">LUXUEUSE OU MODESTE, CLASSIQUE OU MODERNE. LA CUISINE EST LA PIÈCE DE VIE LA PLUS CONVOITÉE DE VOTRE DEMEURE.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Chez K-Construction, votre partenaire de confiance dans l'univers de la rénovation de cuisine, nous nous engageons à transformer vos visions en une réalité éblouissante. 
              Notre mission est de métamorphoser votre espace de cuisine en un lieu où fonctionnalité, style, et durabilité se rencontrent harmonieusement.
              <br><br>
              Notre équipe d'experts combine savoir-faire technique et sens esthétique pour créer des espaces de cuisine qui allient fonctionnalité, style et durabilité. 
              Que vous souhaitiez une rénovation complète ou des améliorations spécifiques, nous sommes là pour vous guider à chaque étape.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Demandez une soumission
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="offrea" class="my-10 pt-10">
    <div class="container mx-auto pt-10">
      <div class="flex justify-center pb-4">
        <h2 class="text-3xl font-bold mb-4 test">
          Notre offre
      </h2>
        
      </div>
        <div class="flex justify-center pb-4">

        <div class="flex flex-wrap -mx-4">
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="mdi:kitchen-counter-outline" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Rénovations Complètes</h5>
                    <p>Renouvelez votre espace de cuisine avec expertise et fonctionnalité.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="game-icons:bulldozer" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Démolition</h5>
                    <p>Avant de pouvoir rendre cet espace à votre gout, la démolition s'impose.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="clarity:design-line" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Services Connexes</h5>
                    <p>Cela inclu le design, l'éclairage, la plomberie, les comptoirs et plus encore!</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6  shadow-lg rounded-lg">
                  <iconify-icon icon="mdi:construction-outline" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Construction</h5>
                    <p>Vous débutez un nouveau projet? Faites affaires avec K-Constructions!</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Experts en Rénovation de Cuisine"
  subtitle="Transformez votre cuisine avec K-Constructions, votre partenaire de confiance pour toute réparation et rénovation de cuisine."
  tagline="À Votre service"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'Conception et Planification',
      description:
        "La rénovation d'une cuisine commence par une planification minutieuse et une conception réfléchie. Chez K-Constructions, nous travaillons étroitement avec vous pour comprendre vos besoins et vos préférences, afin de créer une cuisine fonctionnelle et esthétiquement agréable. Nos experts utilisent des logiciels de conception 3D pour vous présenter des visuels réalistes de votre future cuisine, permettant des ajustements et des choix éclairés avant le début des travaux.",
    },
    {
      title: 'Rénovation Complète',
      description:
      "Que vous souhaitiez moderniser votre cuisine avec de nouveaux appareils, agrandir l'espace, ou complètement la réaménager, K-Constructions est à votre disposition pour réaliser votre projet. Nous gérons tous les aspects de la rénovation, du démontage des éléments existants à l'installation de nouveaux meubles, en passant par la plomberie, l'électricité, et la finition. Notre équipe s'assure que chaque détail est pris en compte pour réaliser la cuisine de vos rêves.",
    },
    {
      title: 'Services Spécialisés',
      description:
        "En plus des services de rénovation standard, K-Constructions offre une gamme de services spécialisés pour répondre à tous vos besoins en matière de cuisine. Cela inclut l'installation de plans de travail sur mesure, de solutions de rangement intelligentes, de dosserets personnalisés, et bien plus. Nous collaborons avec les meilleurs fournisseurs pour vous garantir des matériaux de qualité et un design qui correspond parfaitement à votre style de vie.",
    },
  ]}
/>

<Features
  id="features"
  title="Caractéristiques de nos rénovations de cuisine"
  subtitle="Nos projets de rénovation de cuisine offrent des caractéristiques clés pour répondre aux besoins de nos clients."
  columns={3}
  items={[
    {
      title: 'Conception sur mesure',
      description:
        'Nous créons des designs uniques, reflétant les dernières tendances et adaptés à vos besoins spécifiques pour une cuisine à la fois fonctionnelle et esthétique.',
      icon: 'tabler:layout-dashboard',
    },
    {
      title: 'Utilisation optimale de l’espace',
      description: 'Nos conceptions maximisent l’espace disponible, améliorant la fonctionnalité et le confort de votre cuisine.',
      icon: 'tabler:space',
    },
    {
      title: 'Matériaux de haute qualité',
      description:
        'Nous utilisons uniquement des matériaux de haute qualité pour garantir la durabilité de votre cuisine et sa résistance dans le temps.',
      icon: 'tabler:tools-kitchen-2',
    },
    {
      title: 'Solutions innovantes de rangement',
      description: 'Nos cuisines sont équipées de solutions de rangement intelligentes pour un espace toujours organisé et pratique.',
      icon: 'tabler:layout-grid',
    },
    {
      title: 'Éclairage personnalisé',
      description:
        'L’éclairage est conçu sur mesure pour créer une ambiance chaleureuse et mettre en valeur les éléments de design de votre cuisine.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Installation professionnelle',
      description: 'Notre équipe d’experts s’occupe de l’installation complète, assurant une finition parfaite et un respect strict des délais.',
      icon: 'tabler:hammer',
    },
  ]}
/>


  

  <Content
    isAfterContent
    items={[
      {
        title: 'Évaluation et Soumission ',
        description: "Notre processus commence par une évaluation complète de vos besoins en rénovation de cuisine. Nous discutons de vos idées, de vos goûts, et de votre budget pour préparer une soumission détaillée et transparente.",
        icon: 'tabler:discount-check-filled',
      },
      {
        title: 'Conception et Planification :',
        description:
          "En tant qu'entrepreneur en construction expérimenté, K-Construction planifie minutieusement chaque projet. Notre équipe crée des designs personnalisés qui reflètent vos préférences tout en maximisant l'espace et la fonctionnalité.",
        icon: 'tabler:crane',
      },
      {
        title: 'Choix des Matériaux :',
        description: "Garantie de satisfaction: Nous nous engageons à offrir un niveau de finition exceptionnel, soutenu par une garantie sur nos travaux de cuisine.",
        icon: 'tabler:refresh',
      },
      {
        title: 'Réalisation',
        description: "Notre équipe d'artisans qualifiés prend en charge l'exécution du projet, en s'assurant que chaque détail est parfaitement réalisé, du début à la fin.",
        icon: 'tabler:refresh',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1503594384566-461fe158e797?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'cuisine faite par K-Constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Le PROCESSUS</h3>
    </Fragment>
  </Content>

  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
