---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'K-Constructions - Experts des Petits Travaux',
  description: "Pour tous vos petits travaux, faites confiance aux experts de K-Constructions. Service rapide, efficace et adapté à vos besoins spécifiques.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/b19b8422343b366a4446452dadb6ed31109f366a/src/assets/images/banners/banner-hand.webp"
              alt="les meilleurs hommes à tout faire à montréal et ses environs"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              Vous avez besoin de quelqu'un pour des travaux divers?
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              La Solution À Vos Problèmes
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                SOUMISSION GRATUITE
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="m-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >FAITE AFFAIRE AVEC LE GROUPE K-CONSTRUCTIONS</p>
            <h2 class="text-2xl font-bold mb-4 test">Rénovez à montréal et ses environs au meilleur prix et selon vos disponibilités.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Chez K-Constructions, nous sommes fiers de vous offrir une expertise inégalée pour la rénovation et l'entretien de votre maison ou condo sur la Rive-Sud. 
              Notre équipe, composée d'hommes à tout faire et de spécialistes professionnels, est dédiée à fournir des solutions sur mesure qui répondent à vos besoins spécifiques.
              <br><br>
              Que vous envisagiez une simple mise à jour de votre intérieur ou une rénovation complète, K-Constructions est le partenaire de choix pour réaliser vos projets en montérégie. 
              Notre objectif ? Transformer votre espace de vie en un lieu qui reflète votre personnalité tout en optimisant son confort et sa fonctionnalité.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Demandez une soumission
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="offrea" class="my-10 pt-10">
    <div class="container mx-auto pt-10">
      <div class="flex justify-center pb-4">
        <h2 class="text-3xl font-bold mb-4 test">
          Notre offre
      </h2>
        
      </div>
        <div class="flex justify-center pb-4">

        <div class="flex flex-wrap -mx-4">
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="grommet-icons:user-expert" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Des Experts</h5>
                    <p>Hommes à tout faire et spécialistes avec licenses</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="fluent-emoji-high-contrast:building-construction" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Polyvalent</h5>
                    <p>Travaux intérieurs et extérieurs en montérégie</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="ic:outline-construction" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Services Connexes</h5>
                    <p>Pour vos projets de rénovation, réparation et maintenance</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6  shadow-lg rounded-lg">
                  <iconify-icon icon="mdi:construction-outline" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Construction</h5>
                    <p>Travaux divers, disponible tout temps pour vous</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Imabattable en tant qu'entrepreneur général"
    subtitle="Nous sommes là pour tous vos besoins en construction, que ce soit pour des rénovations ou une construction neuve, contactez K-Constructions!"
    tagline="À Votre services"
    columns={1}
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Processus',
        description:
          "Si vous êtes à la recherche d'une réparation de toiture de qualité supérieure, K-Construction est votre solution idéale. Spécialisés dans la réparation de toitures, nous offrons un service rapide et fiable, essentiel pour maintenir l'intégrité et la sécurité de votre habitation. Nos experts en réparation de toiture utilisent des techniques avancées et des matériaux de premier choix pour s'assurer que chaque réparation résiste à l'épreuve du temps.",
      },
      {
        title: 'Remplacement de toiture',
        description:
        "Lorsque le moment est venu pour un remplacement de toiture, K-Construction excelle par son expertise et son professionnalisme. Nous comprenons que remplacer un toit est un investissement important, c'est pourquoi nous nous engageons à fournir un service de remplacement de toiture complet et de haute qualité. Notre approche en remplacement de toiture intègre les dernières innovations en matière de matériaux et de design, garantissant ainsi non seulement l'efficacité énergétique de votre maison, mais aussi une esthétique améliorée. Chaque projet de remplacement de toit est géré avec le plus grand soin, en veillant à ce que chaque détail réponde aux attentes de nos clients. Avec K-Construction, vous investissez dans un toit neuf qui améliore non seulement l'apparence de votre maison, mais augmente également sa valeur à long terme.",
      },
      {
        title: 'Services de couvreur',
        description:
          "K-Construction se démarque par son offre de service complet et professionnel dans tous les aspects de la construction et de la rénovation. Notre engagement envers l'excellence se reflète dans chaque service que nous proposons, qu'il s'agisse de réparation de toiture, de remplacement, ou d'installations spécialisées comme les panneaux solaires. En optant pour notre service complet et professionnel, vous bénéficiez de l'expertise d'une équipe dévouée et expérimentée, prête à répondre à tous vos besoins en matière de construction et de rénovation. Nous nous assurons que chaque projet est réalisé avec précision, efficacité et dans le respect des normes les plus élevées de l'industrie. Faire confiance à K-Construction, c'est choisir la tranquillité d'esprit, sachant que votre projet est entre les mains de professionnels qui s'engagent à délivrer des résultats exceptionnels et durables. Notre approche intégrée garantit une gestion de projet sans faille, de la consultation initiale à la finalisation, assurant une expérience client inégalée et des résultats qui dépassent vos attentes.",
      },
    ]}
  /> -->

  

  <Content
    isAfterContent
    items={[
      {
        title: 'Évaluation et Soumission ',
        description: "Notre processus commence par une évaluation complète de vos besoins en rénovation. Nous discutons de vos idées, de vos goûts, et de votre budget pour préparer une soumission détaillée et transparente.",
        icon: 'tabler:discount-check-filled',
      },
      {
        title: 'Conception et Planification :',
        description:
          "En tant qu'entrepreneur en construction expérimenté, K-Constructions planifie minutieusement chaque projet. Notre équipe crée des designs personnalisés qui reflètent vos préférences tout en maximisant l'espace et la fonctionnalité.",
        icon: 'tabler:crane',
      },
      {
        title: 'Choix des Matériaux :',
        description: "Garantie de satisfaction: Nous nous engageons à offrir un niveau de finition exceptionnel, soutenu par une garantie sur nos travaux de toiture.",
        icon: 'tabler:refresh',
      },
      {
        title: 'Réalisation',
        description: "Notre équipe d'artisans qualifiés prend en charge l'exécution du projet, en s'assurant que chaque détail est parfaitement réalisé, du début à la fin.",
        icon: 'tabler:refresh',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/Elragency/astro-construction/96087e17284db0f607eaf17d17cb84a6704bacae/src/assets/images/banners/handy.webp',
      alt: 'homme à tout faire de K-constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Le PROCESSUS</h3>
    </Fragment>
  </Content>

  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
