---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'K-Constructions - Votre Expert en Plancher',
  description: "Améliorez votre intérieur avec les solutions de plancher de K-Constructions. Large choix de matériaux, conseil expert et installation professionnelle.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/dd6214e64e3d64e1735184ee2150a9a1a3da82b6/src/assets/images/banners/banner-plancher.webp"
              alt="les experts en planchers K-Constructions"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              Réparation / resurfaçage / vernissage / teinture à l'huile
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              Donnez une nouvelle vie<br> à vos planchers
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                SOUMISSION GRATUITE
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="m-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >FAITE AFFAIRE AVEC LE GROUPE K-CONSTRUCTIONS</p>
            <h2 class="text-2xl font-bold mb-4 test">Il est temps de redonner à vos planchers leur éclat d'antan.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Que ce soit pour une simple réparation ou une rénovation complète, nous utilisons des produits commerciaux ultra résistants pour une durabilité maximale.
                                Chez K-Construction, nous comprenons l'importance de vivre confortablement pendant les travaux. Notre méthode sans poussière réduit les désagréments, 
                                vous permettant de vaquer à vos occupations sans interruption majeure. <br><br>
                                Profitez de notre service ponctuel et professionnel. Nous respectons les délais convenus et nous nous engageons à vous offrir une expérience de haute qualité à chaque étape du processus.
                            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Demandez une soumission
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="offrea" class="my-10 pt-10">
    <div class="container mx-auto pt-10">
      <div class="flex justify-center pb-4">
        <h2 class="text-3xl font-bold mb-4 test">
          Notre offre
      </h2>
        
      </div>
        <div class="flex justify-center pb-4">

        <div class="flex flex-wrap -mx-4">
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="mdi:kitchen-counter-outline" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Plancher Flottant :</h5>
                    <p>Renouvelez votre espace de cuisine avec expertise et fonctionnalité.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="game-icons:bulldozer" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Démolition</h5>
                    <p>Avant de pouvoir rendre cet espace à votre gout, la démolition s'impose.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon icon="clarity:design-line" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Services Connexes</h5>
                    <p>Cela inclu le design, l'éclairage, la plomberie, les comptoirs et plus encore!</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6  shadow-lg rounded-lg">
                  <iconify-icon icon="mdi:construction-outline" width="48" height="48"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Construction</h5>
                    <p>Vous débutez un nouveau projet? Faites affaires avec K-Constructions!</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Excellence en Services de Plancher avec K-Constructions"
  subtitle="Découvrez la différence K-Constructions pour transformer et valoriser vos espaces avec des solutions de plancher haut de gamme."
  tagline="Votre satisfaction, notre priorité"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: "Pose de Plancher à la Perfection",
      description: "Chez K-Constructions, nous comprenons que le plancher est la base de l'ambiance de chaque pièce. C'est pourquoi nous offrons des services de pose de plancher exécutés avec une précision inégalée. Que vous désiriez la chaleur et le charme du bois franc, la résilience et la beauté du laminé, ou l'élégance du carrelage, notre équipe travaille méticuleusement pour assurer que chaque planche, chaque carreau, est posé avec soin, garantissant un résultat qui dépasse vos attentes, tant en termes de beauté que de durabilité.",
    },
    {
      title: "Sablage de Plancher sans Compromis",
      description: "Redonner vie à un plancher en bois peut sembler être une tâche ardue, mais c'est une passion pour les experts de K-Constructions. Notre processus de sablage utilise des équipements de pointe qui minimisent la poussière et maximisent l'efficacité, révélant la splendeur cachée de votre plancher. Nous ne nous arrêtons pas là ; chaque projet de sablage est suivi par l'application de finitions et de traitements de haute qualité, choisis pour leur durabilité et leur capacité à protéger et embellir votre plancher pour les années à venir.",
    },
    {
      title: "Au-delà de la Pose et du Sablage",
      description: "L'expertise de K-Constructions en matière de planchers s'étend bien au-delà de la simple pose et du sablage. Nous proposons une vaste gamme de services connexes pour assurer que chaque aspect de votre plancher soit impeccable. Cela inclut la réparation minutieuse de planchers endommagés, l'installation de plinthes et de moulures pour une finition parfaite, ainsi que des conseils personnalisés sur le choix des matériaux et des traitements adaptés à votre style de vie et à vos préférences esthétiques. Avec K-Constructions, chaque détail compte pour transformer votre espace en un lieu où vous aimez vivre.",
    },
  ]}
/>

  

  <Content
    isAfterContent
    items={[
      {
        title: 'Installation de Plancher Flottant :',
        description: "Nos solutions de plancher flottant sont idéales pour ceux qui cherchent une option économique et esthétique. Le plancher flottant est réputé pour sa facilité d'installation et sa variété de styles.",
        icon: 'tabler:discount-check-filled',
      },
      {
        title: 'Sablage de Plancher :',
        description:
          "Nous proposons des services professionnels de sablage de plancher pour restaurer l'éclat de vos planchers de bois franc existants. Cette technique permet d'éliminer les imperfections et de préparer la surface pour une nouvelle finition.",
        icon: 'tabler:crane',
      },
      {
        title: 'Installation de Plancher de Bois Franc :',
        description: "Nous sommes experts dans l'installation de planchers de bois franc, offrant une gamme variée de bois et de finitions pour s'adapter à tous les styles d'intérieur.",
        icon: 'tabler:refresh',
      },
      {
        title: 'Entretien et Réparation de Planchers de Bois Franc :',
        description: "Notre équipe fournit également des services d'entretien et de réparation pour maintenir la beauté et la longévité de vos planchers de bois franc.",
        icon: 'tabler:refresh',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1581858726788-75bc0f6a952d?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'services de réparation de plancher k-constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Le PROCESSUS</h3>
    </Fragment>
  </Content>

  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
