---
import FormContainer from '~/components/ui/Form.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Contact;
---

<section>
    <section id="project" class="p-5" style="background-image:url(https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/epoxy/project-img.webp);">
        <div class="mx-10" style="overflow: hidden;">
            <div data-aos="zoom-out">
                <div class="container position-relative d-sm-flex py-5 mt-5 mb-2">
                    <div>
                        <p class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">GALLERIE</p>
                        <h2 class=" text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">Nos derniers projets</h2>
                    </div>

                    <div class="swiper-arrow position-absolute end-0 mt-sm-5 ms-3">
                        <iconify-icon icon="teenyicons:arrow-left-solid" class="icon-arrow-left me-3"></iconify-icon>
                        <iconify-icon icon="teenyicons:arrow-right-solid" class="icon-arrow-right"></iconify-icon>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="swiper project-swiper mb-4">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Salle De Réception fait en Epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/epoxy1.webp" alt="Salle De Réception fait en Epoxy">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Epoxy</p>
                                            <h3 class="text-white">Salle De Réception fait en Epoxy Par K-Constructions</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Plancher fait en Epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/epoxy2.webp" alt="planchers en epoxy fait par K-constructions">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Planchers en Epoxy</p>
                                            <h3 class="text-white">Plancher fait en Epoxy Par K-Constructions</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Couloir en Epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/epoxy3.webp" alt="Couloir en Epoxy">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Couloir en Epoxy</p>
                                            <h3 class="text-white">Service résidentiel d'Epoxy Par K-Constructions</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Garage en Epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/epoxy4.webp" alt="Garage en Epoxy">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Garage en Epoxy</p>
                                            <h3 class="text-white">Garage fait en Epoxy Par K-Constructions</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Plancher de bureau en epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/epoxy5.webp" alt="">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Plancher de bureau en epoxy</p>
                                            <h3 class="text-white">Plancher de bureau en epoxy</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Car Wash" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/epoxy/expoxyapplication.webp" alt="">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">BMW Car</p>
                                            <h3 class="text-white">External Hand Wash</h3>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                            <div class="swiper-slide">
                                <div class="item">
                                    <a href="#" title="Service commercial d'Epoxy" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/59face68d5987896b0a0c0ed35aa742018b0c660/src/assets/images/Pages/epoxy/expoxy6.webp" alt="Service commercial d'Epoxy par K-constructions">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">Service commercial d'Epoxy</p>
                                            <h3 class="text-white">Service commercial d'Epoxy par K-Constructions</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="swiper-slide">
                                <div class="item">
                                    <a href="images/project4.jpg" title="Car Wash" class="image-link">
                                        <img class="portfolio-img img-fluid" src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/epoxy/expoxyapplication.webp" alt="">
                                        <div
                                            class="description position-absolute top-50 start-50 translate-middle text-center p-3">
                                            <p class="text-white">BMW Car</p>
                                            <h3 class="text-white">External Hand Wash</h3>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="text-center pb-5 mb-5">
                    <a href="#soumission" class="btn btn-primary mt-5 ">Demander une soumission! <iconify-icon
                            icon="tabler:arrow-right" class="arrow-icon"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>

    </section>
</section>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensure Swiper's JS and any dependencies are fully loaded
      // You may need to adjust this path based on where Swiper's JS is located
      var script = document.createElement('script');
      script.src = 'https://unpkg.com/swiper/swiper-bundle.min.js';
      script.onload = function() {
        // Initialize Swiper after the script is loaded
        var swiper = new Swiper('.project-swiper', {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.icon-arrow-right',
            prevEl: '.icon-arrow-left',
          },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 30,
            },
            1024: {
              slidesPerView: 4,
              spaceBetween: 30,
            },
          }
        });
      };
      document.head.appendChild(script);
    });
  </script>



<style>/*---- project section style start ----*/
    .swiper-slide {
        width: auto !important;
    }
    
    iconify-icon.icon-arrow-left,
    iconify-icon.icon-arrow-right {
        color: var(--bs-light);
        font-size: 70px;
    }
    
    iconify-icon.icon-arrow-left:active,
    iconify-icon.icon-arrow-right:active {
        color: var(--bs-light);
    }
    
    @media only screen and (max-width: 576px) {
        .swiper-arrow {
            left: 0;
        }
    
        iconify-icon.icon-arrow-left,
        iconify-icon.icon-arrow-right {
    
            font-size: 50px;
        }
    
    }
    
    button.filter-button {
        letter-spacing: 0.075rem;
        border: 1px solid var(--bs-border-color);
        background: transparent;
        color: var(--bs-black);
        text-transform: uppercase;
        font-size: 1rem;
        transition: all 0.3s ease-in;
    }
    
    button.filter-button.active {
        color: var(--bs-light);
        background: var(--accent-color);
    }
    
    button.filter-button:hover {
        color: var(--bs-light);
        background: var(--accent-color);
    }
    
    .item .description {
        width: 100%;
        position: absolute;
        z-index: 5;
        opacity: 0;
        transition: all 0.5s ease-in;
    }
    
    .item:hover .description {
        opacity: 1;
    }
    
    
    /* chocolat style  */
    .chocolat-wrapper.chocolat-visible {
        z-index: 9999999999;
        transition: opacity 0.4s, visibility 0s;
        opacity: 1;
        visibility: visible;
    }

    /* Mobile screens */
    @media (max-width: 768px) {
    .img-fluid {
        max-width: 10vw; /* Use a percentage of the viewport width */
        height: 10vw; /* Keep the square aspect ratio */
    }
}
    
/* Big screens - No media query needed since these are the default styles */
.img-fluid {
    max-width: 80vh;
    height: 80vh;
}
    .text-white {
        --bs-text-opacity: 1;
        color: rgba(var(white), var(--bs-text-opacity)) !important;
    }
    

</style>






