---

import CheapButton from "~/components/ui/CheapButton.astro"
import PortfolioCard from "~/components/ui/PortfolioCard.astro"
import Image from '~/components/common/Image.astro';
---
<section class="mb-section p-10">
    </div>
    <div class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden">
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="https://raw.githubusercontent.com/Elragency/astro-construction/fbae51d90db6d44bf6cd417c5cf9cfc810d35c1e/src/assets/images/hero2.png" alt="some building" title="Résidentielle" href="elragency.com">
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="https://raw.githubusercontent.com/Elragency/astro-construction/fbae51d90db6d44bf6cd417c5cf9cfc810d35c1e/src/assets/images/hero2.png" alt="some building" title="Commerciale">
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="https://raw.githubusercontent.com/Elragency/astro-construction/fbae51d90db6d44bf6cd417c5cf9cfc810d35c1e/src/assets/images/hero2.png" alt="some building" title="Après Sinistre">
        </div>
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="https://raw.githubusercontent.com/Elragency/astro-construction/fbae51d90db6d44bf6cd417c5cf9cfc810d35c1e/src/assets/images/hero2.png" alt="some building" title="Nos Services">
        </div>
    </div>
</section>