---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import Adresse from '~/components/widgets/Adresse.astro';
import Contact from '~/components/widgets/elr-contact.astro';

const metadata = {
  title: "K-Constructions - Besoin d'un maçon?",
  description: "Trouvez les meilleurs maçons chez K-Constructions pour des travaux de maçonnerie précis, fiables et durables. Contactez-nous pour un devis.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/banners/banner-brick.webp"
              alt="maçons de k-constructions"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">
              EXPERTISE EN MAÇONNERIE ET BRIQUETAGE POUR VOS PROJETS DE CONSTRUCTION
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
              LA FONDATION DE LA QUALITÉ
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
                Contactez-Nous!
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="mx-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >POURQUOI NOUS?</p>
            <h2 class="text-2xl font-bold mb-4 test">MAÇONNERIE: LA FONDATION DE LA QUALITÉ + BRIQUETAGE: L'ART DE FAÇONNER L'ESTHÉTIQUE</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Chez K-Constructions, nous sommes fiers d'étendre notre expertise au domaine de la maçonnerie et du briquetage. Notre équipe d'artisans qualifiés et expérimentés 
              est dédiée à fournir des solutions de construction et de rénovation exceptionnelles. Que ce soit pour des travaux neufs ou de restauration, nos maçons et briqueteurs 
              apportent un savoir-faire inégalé à chaque projet. <br><br>
              Notre équipe de maçons expérimentées est équipée pour gérer une large gamme de services de projets à Montréal. 
              Qu'il s'agisse de réparations urgentes, d'entretien ou de réfection complète, nous nous assurons que chaque travail est réalisé avec le plus haut niveau de professionnalisme et de qualité.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Contactez-nous
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="process" class="my-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="overflow-hidden">
        <div class="mx-auto container" >
            <div class="flex flex-wrap -mx-4"> 
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">01.</span> Contact</h4>
                        <p class="font-body">Utilisez le formulaire ci-dessous pour nous contacter.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">02.</span> inspection</h4>
                        <p class="font-body">Nous allons visiter l'adresse des travaux pour nous faire une idée.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">03.</span> Soumission</h4>
                        <p class="font-body">Nous vous faisons parvenir la soumission en 24h.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">04.</span> Réalisation</h4>
                        <p class="font-body">Nous effectuons les travaux souhaités.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Nos Services"
    subtitle="Le briquetage, une compétence clé de notre équipe, implique plus que la simple pose de briques. C'est une expression artistique qui donne vie et caractère à vos bâtiments. Nos briqueteurs maîtrisent l'art de travailler avec une variété de matériaux, y compris la brique traditionnelle, la pierre, et les blocs modernes. Que ce soit pour embellir la façade de votre maison, construire un mur de soutènement robuste, ou restaurer des structures historiques, nos experts en briquetage garantissent une finition impeccable et un design qui se démarque."
    tagline="À Votre services"
    columns={1}
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Résidentiel',
        description:
        "Chez K-Constructions, nous redéfinissons la restauration commerciale, en allant au-delà du simple processus de ramener les bâtiments commerciaux à leur état d'origine. Nos services spécialisés couvrent une gamme étendue : de l'imperméabilisation minutieuse, aux réparations expertes en maçonnerie et béton, en passant par le calfeutrage précis, la reconstruction soignée de rampes, le remplacement et la reconstruction méticuleuse de balcons, jusqu'à la réhabilitation complète de dalles de garage. Notre équipe chevronnée offre ces services de restauration commerciale de premier ordre dans toute la grande région de Montréal, garantissant des résultats qui non seulement restaurent mais améliorent votre propriété commerciale.",
      },
      {
        title: 'Commercial',
        description:
        "La restauration résidentielle chez K-Construction est une étape au-delà du conventionnel. Nous nous consacrons à ramener votre habitation résidentielle à son état d'origine, voire à l'améliorer. Nos services englobent l'imperméabilisation complète, des réparations de maçonnerie et de béton réalisées avec expertise, un calfeutrage de précision, la reconstruction de rampes avec finesse, le remplacement et la reconstruction soignée de balcons, et une réhabilitation professionnelle de dalles de garage. Fournissant ces services de restauration résidentielle spécialisée dans la grande région de Montréal, K-Constructions s'engage à revitaliser votre espace de vie, en garantissant une restauration qui allie esthétique et fonctionnalité.",
      },
      {
        title: 'Réparations',
        description:
        "Nos services de réparations chez K-Constructions ne se limitent pas à la simple remise en état; ils transforment et renforcent la structure de votre bâtiment. En matière de réparations architecturales, nous offrons des solutions de réparation et de remplacement innovantes pour les fondations, les murs porteurs, et les colonnes, assurant la sécurité et la durabilité de votre bâtiment dans la grande région de Montréal. Par ailleurs, notre expertise en réparation de maçonnerie comprend la réparation de briques, le remplacement de briques, la restauration méticuleuse de mortier de brique et la réparation professionnelle de fondations en maçonnerie. Faites confiance à K-Constructions pour des services de réparation de maçonnerie dans la grande région de Montréal, où chaque intervention est synonyme de perfection et de longévité.",
      },
    ]}
  />
  <Content
  isAfterContent
  items={[
    {
      title: 'Service rapide et au meilleur prix',
      description: "Offres compétitives: Nous proposons les meilleurs tarifs du marché, sans compromettre la qualité de nos services.",
      icon: 'tabler:discount-check-filled',
    },
    {
      title: 'Une expertise dans notre domaine',
      description:
        "Expertise technique: Notre équipe d'experts possède les qualifications nécessaires pour assurer une installation et une réparation impeccables.",
      icon: 'tabler:crane',
    },
    {
      title: 'Garantie Complète',
      description: "Garantie de satisfaction: Nous nous engageons à offrir un niveau de finition exceptionnel, soutenu par une garantie sur nos travaux de toiture.",
      icon: 'tabler:refresh',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1617720356637-6264c1c0b4bb?q=80&w=868&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'service de maçons de k-constructions',
  }}></Content>



  <Adresse />

   <Contact />

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Soumission!',
        href: '#soumission',
        // target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #444444;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}

</style>
