---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Before from '~/components/widgets/Beforee.astro';

import Carrousel from '~/components/widgets/Carrousel.astro';

const metadata = {
  title: "Services D'excavation et Pavage Uni Rapides - K-Constructions",
  description: "K-Constructions offre des services rapides et au meilleur prix pour tous vos besoins d'excavation et de pavage uni. Qualité garantie.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensure Swiper's JS and any dependencies are fully loaded
      // You may need to adjust this path based on where Swiper's JS is located
      var script = document.createElement('script');
      script.src = 'https://unpkg.com/swiper/swiper-bundle.min.js';
      script.onload = function() {
        // Initialize Swiper after the script is loaded
        var swiper = new Swiper('.project-swiper', {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.icon-arrow-right',
            prevEl: '.icon-arrow-left',
          },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 30,
            },
            1024: {
              slidesPerView: 4,
              spaceBetween: 30,
            },
          }
        });
      };
      document.head.appendChild(script);
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>



  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px] not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/banners/banner-excavation.webp"
              alt="Les meilleurs services d'excavation: K-Constructions"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase pb-1">
              Au-delà du Simple Creusement
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
              Expertise et Fiabilité : L'Excavation
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
                Soumission Gratuite!
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      
      

  <!-- <Note /> -->

  <section id="propos" class="mx-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >POURQUOI NOUS?</p>
            <h2 class="text-2xl font-bold mb-4 test">EXCAVATION: L'EXPERTISE À VOTRE SERVICE</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              K-Constructions se spécialise dans les services d'excavation pour tous types de projets, allant des fondations et tranchées jusqu'aux aménagements paysagers complexes. Notre équipe, forte d'une expertise reconnue dans le domaine de l'excavation, est équipée pour répondre à vos exigences les plus strictes, garantissant ainsi la sécurité et l'efficacité sur chaque chantier. Que ce soit pour des besoins résidentiels, commerciaux ou industriels, nous apportons une solution adaptée à chaque situation avec un engagement sans faille pour la qualité et la satisfaction client. <br><br>
              Grâce à notre parc de machines modernes et à notre savoir-faire technique, nous nous engageons à réaliser vos projets d'excavation dans le respect des délais et des normes de sécurité les plus élevées. Confiez-nous vos projets d'excavation pour une réalisation conforme à vos attentes.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Contactez-nous
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="process" class="my-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="overflow-hidden">
        <div class="mx-auto container" >
            <div class="flex flex-wrap -mx-4"> 
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">01.</span> Contact</h4>
                        <p class="font-body">Utilisez le formulaire ci-dessous pour nous contacter.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">02.</span> inspection</h4>
                        <p class="font-body">Nous allons visiter l'adresse des travaux pour nous faire une idée.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">03.</span> Soumission</h4>
                        <p class="font-body">Nous vous faisons parvenir la soumission en 24h.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">04.</span> Réalisation</h4>
                        <p class="font-body">Nous effectuons les travaux souhaités.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Nos Services d'Excavation"
  subtitle="Les services d'excavation de K-Constructions combinent expertise technique et équipements avancés pour réaliser des projets d'excavation de toute envergure, allant de la préparation de terrains pour des constructions neuves à des projets de rénovation et d'aménagement paysager. En choisissant nos services, vous bénéficiez d'une solution complète qui assure la sécurité et l'efficacité tout au long du projet."
  tagline="Précision et Fiabilité à Votre Service"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: "Pourquoi choisir l'excavation avec K-Constructions?",
      description:
      "Opter pour K-Constructions pour vos besoins en excavation signifie confier votre projet à une équipe qui dispose d'une vaste expérience et d'une connaissance approfondie dans le domaine. Nous utilisons des équipements de pointe pour garantir une exécution précise et efficace, qu'il s'agisse de creuser pour des fondations, d'installer des systèmes de drainage ou de réaliser des travaux de terrassement complexes. Notre engagement envers la qualité et le respect des délais assure que votre projet est mené à bien avec le plus haut niveau de professionnalisme.",
    },
    {
      title: "Avantages de nos services d'excavation",
      description:
      "Nos services d'excavation offrent une multitude d'avantages, y compris une planification et une exécution minutieuses pour minimiser l'impact sur le site et les environs. La sécurité est notre priorité absolue, et nous adhérons strictement aux normes de l'industrie pour protéger notre équipe, nos clients et l'environnement. De plus, nous comprenons l'importance de la communication claire et régulière, assurant que vous êtes informé à chaque étape du projet. Avec K-Constructions, vous investissez dans une solution d'excavation qui est à la fois durable et conçue sur mesure pour répondre à vos besoins spécifiques.",
    },
  ]}
/>

<Content
isAfterContent
items={[
  {
    title: "Service rapide et au meilleur prix",
    description: "Offres compétitives: K-Constructions propose des tarifs avantageux pour vos projets d'excavation, garantissant un excellent rapport qualité-prix sans compromettre la qualité du travail.",
    icon: 'tabler:discount-check-filled',
  },
  {
    title: "Une expertise reconnue en excavation",
    description: "Expertise technique: Notre équipe d'experts en excavation est équipée pour gérer tous les aspects de votre projet, des petites tranchées aux grands terrassements, avec précision et professionnalisme.",
    icon: 'tabler:crane',
  },
  {
    title: "Garantie Complète sur l'Excavation",
    description: "Garantie de satisfaction: K-Constructions s'engage à offrir une prestation d'excavation de haute qualité, soutenue par une garantie solide sur nos services pour assurer votre entière satisfaction.",
    icon: 'tabler:refresh',
  },
]}
image={{
  src: 'https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/excavation/excavation1.webp',
  alt: "service d'excavation de K-Constructions",
}}>
</Content>



<section id="offrea" class="my-5">
  <div class="container mx-auto ">
    <div class="flex justify-center ">
      <h2 class="text-1xl font-bold mb-4 test">
        Notre offre en Excavation
    </h2>
      
    </div>
      <div class="flex justify-center">

      <div class="flex flex-wrap -mx-4">
          <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
              <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon class="text-3xl my-2" icon="mdi:excavator"></iconify-icon>
                  <h5 class="text-xl font-semibold mb-3">Préparation de Terrain</h5>
                  <p>Assurez la meilleure base pour vos projets de construction grâce à notre service de préparation de terrain.</p>
              </div>
          </div>
          <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
              <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon class="text-3xl my-2" icon="mdi:pipe-wrench"></iconify-icon>
                  <h5 class="text-xl font-semibold mb-3">Travaux d'Infrastructure</h5>
                  <p>Réalisez des travaux d'infrastructure durables avec notre expertise en excavation et terrassement.</p>
              </div>
          </div>
          <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
              <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                  <iconify-icon class="text-3xl my-2" icon="mdi:home-city-outline"></iconify-icon>
                  <h5 class="text-xl font-semibold mb-3">Aménagement Paysager Pro</h5>
                  <p>Transformez vos espaces extérieurs grâce à nos services d'excavation pour l'aménagement paysager.</p>
              </div>
          </div>
          <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
              <div class="text-center py-10 px-6  shadow-lg rounded-lg">
                  <iconify-icon class="text-3xl my-2" icon="mdi:account-hard-hat"></iconify-icon>
                  <h5 class="text-xl font-semibold mb-3">Conseil et Expertise professionel</h5>
                  <p>Profitez de notre conseil et expertise pour assurer le succès de vos projets d'excavation les plus complexes.</p>
              </div>
          </div>
      </div>
  </div>
</section>

  <Stats
  stats={[
    { title: '+ Clients', amount: '1900' },
    { title: '+ Projets', amount: '2100' },
    { title: "Année d'expérience", amount: '25' },
    { title: '+ Employés', amount: '15' },
  ]}
/>  
  
<Content
isAfterContent
title="Pour une Excavation Réussie"
tagline="Les Étapes Clés"
items={[
  {
    title: "Évaluation et Planification",
    description: "La réussite d'un projet d'excavation commence par une évaluation détaillée du site et une planification rigoureuse. Cela inclut l'analyse du terrain, la détermination de la meilleure approche pour l'excavation, et la préparation du site pour assurer la sécurité et l'efficacité des opérations.",
    icon: "tabler:map-pin",
  },
  {
    title: 'Mobilisation des Ressources',
    description:
      "Expertise technique: Une fois le plan établi, notre équipe d'experts mobilise le matériel nécessaire, allant des excavatrices aux camions de transport, garantissant ainsi que tout est en place pour débuter l'excavation dans les meilleures conditions.",
    icon: 'tabler:truck',
  },
  {
    title: 'Exécution et Suivi',
    description: "Avec précision et attention au détail, nous procédons à l'excavation selon les spécifications du projet. Tout au long du processus, un suivi rigoureux est effectué pour s'assurer que le projet avance comme prévu, tout en respectant les normes de sécurité et environnementales les plus strictes.",
    icon: 'tabler:backhoe',
  },
  {
    title: 'Finalisation et Nettoyage',
    description: "Après l'excavation, nous prenons soin de finaliser le site en nettoyant et en éliminant les débris, assurant ainsi que l'espace est prêt pour les étapes suivantes de votre projet de construction ou d'aménagement.",
    icon: 'tabler:wash',
  },
]}
image={{
  src: 'https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/excavation/excavation2.webp',
  alt: "service d'excavation de K-Constructions",
}}>
</Content>


  <Adresse />

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensure elements are available
      var divisor = document.getElementById("divisor"),
          slider = document.getElementById("slider");
  
      // Define the function to adjust the divisor's width
      function moveDivisor() { 
        divisor.style.width = slider.value + "%";
      }
  
      // Check if both elements are present
      if(divisor && slider) {
        // Attach the event listener to the slider
        slider.addEventListener("input", moveDivisor);
        
        // Optional: Call moveDivisor initially if you want to set an initial value
        moveDivisor();
      } else {
        console.error("Either divisor or slider element is not found.");
      }
    });
  </script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
