---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';



const metadata = {
  title: "Services D'Entretien Ménager - K-Constructions",
  description: "K-Constructions offre des services d'entretien ménager complets pour maintenir votre espace propre et accueillant. Professionnels et fiables.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensure Swiper's JS and any dependencies are fully loaded
      // You may need to adjust this path based on where Swiper's JS is located
      var script = document.createElement('script');
      script.src = 'https://unpkg.com/swiper/swiper-bundle.min.js';
      script.onload = function() {
        // Initialize Swiper after the script is loaded
        var swiper = new Swiper('.project-swiper', {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.icon-arrow-right',
            prevEl: '.icon-arrow-left',
          },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 30,
            },
            1024: {
              slidesPerView: 4,
              spaceBetween: 30,
            },
          }
        });
      };
      document.head.appendChild(script);
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>



  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/banners/banner-menage.webp"
              alt="le service d'entretien menager Kleaning"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase pb-1">
              Notre Division de nettoyage
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
              Kleaning: La propreté qu'il vous faut!
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
                Soumission Gratuite!
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="mx-6">
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00">POURQUOI NOUS?</p>
            <h2 class="text-2xl font-bold mb-4 test">ENTRETIEN MÉNAGER ET CONCIERGERIE: L'EXCELLENCE AU QUOTIDIEN</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000">
            <p class="ml-0 md:ml-6 font-body pb-4">
              K-Constructions est fier d'étendre son expertise au service d'entretien ménager et de conciergerie, offrant des solutions complètes pour maintenir votre espace de vie ou de travail dans un état impeccable. Notre équipe dédiée et professionnelle est engagée à fournir un niveau de propreté et d'organisation exceptionnel, adapté à vos besoins spécifiques. Que ce soit pour des espaces commerciaux, industriels ou résidentiels, nos services personnalisés sont conçus pour garantir votre satisfaction et votre tranquillité d'esprit. <br><br>
              Nous nous engageons à utiliser des produits de nettoyage écologiques et des méthodes efficaces, assurant ainsi un environnement sain et propre. Découvrez comment K-Constructions peut transformer votre routine de nettoyage grâce à notre expertise en entretien ménager et conciergerie.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Contactez-nous
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Nos Services d'Entretien Ménager et de Conciergerie"
  subtitle="Les services d'entretien ménager et de conciergerie de K-Constructions garantissent une propreté impeccable et une gestion efficace de vos espaces. Notre approche est conçue pour répondre aux besoins spécifiques de chaque client, offrant un environnement sain et accueillant pour les espaces commerciaux, industriels et résidentiels. En choisissant nos services, vous bénéficiez d'une expertise reconnue pour maintenir votre espace propre, organisé et fonctionnel."
  tagline="Excellence et Fiabilité à Votre Service"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: "Pourquoi choisir notre service d'entretien ménager?",
      description:
      "Opter pour le service d'entretien ménager de K-Constructions, c'est s'assurer d'une propreté sans compromis et d'un service fiable. Notre équipe d'experts utilise des techniques de nettoyage avancées et des produits écologiques pour offrir des résultats exceptionnels. Nous comprenons l'importance d'un environnement propre pour le bien-être des occupants et nous engageons à fournir un service de qualité supérieure, adapté aux horaires et aux exigences spécifiques de chaque client.",
    },
    {
      title: "Avantages de notre service de conciergerie",
      description:
      "Notre service de conciergerie va au-delà du simple nettoyage. Il englobe une gamme complète de tâches visant à faciliter la gestion quotidienne de vos espaces. De la maintenance préventive à la gestion des déchets, en passant par le contrôle des accès et l'assistance aux occupants, K-Constructions vous assure un service tout-en-un. Notre objectif est de vous libérer des contraintes liées à l'entretien et à la gestion de bâtiment, vous permettant ainsi de vous concentrer sur votre cœur de métier."
    },
  ]}
/>

  
<Content
isAfterContent
items={[
  {
    title: "Entretien et conciergerie : Qualité et prix compétitifs",
    description: "K-Constructions offre des services d'entretien ménager et de conciergerie à des tarifs compétitifs, sans jamais compromettre la qualité. Nous veillons à fournir le meilleur rapport qualité-prix pour maintenir vos espaces propres et accueillants.",
    icon: 'tabler:discount-check-filled',
  },
  {
    title: "Expertise en entretien ménager et conciergerie",
    description: "Notre équipe spécialisée dans l'entretien ménager et la conciergerie possède une expertise reconnue, garantissant un service impeccable adapté à vos besoins spécifiques, que ce soit pour des espaces commerciaux, résidentiels ou industriels.",
    icon: 'tabler:crane',
  },
  {
    title: "Engagement complet envers la satisfaction client",
    description: "Nous nous engageons à assurer votre satisfaction totale à travers nos services d'entretien ménager et de conciergerie, appuyés par une garantie de service qui témoigne de notre dévouement à l'excellence.",
    icon: 'tabler:refresh',
  },
]}
image={{
  src: 'https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/Cleaning/cleaning2.webp',
  alt: "service d'entretien ménager et de conciergerie de K-Constructions",
}}>
</Content>




<section id="services" class="services m-4">
  <div class="container mx-auto">

    <div class="flex justify-center pb-4">
      <h2 class="text-3xl font-bold mb-4 test">
        Nos Services d'Entretien
    </h2>
      
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" >
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="ic:baseline-delete-sweep" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a href="#">Nettoyage et Ramassage de Déchets</a></h4>
          <p class="description">Des services de nettoyage et de ramassage de déchets complets pour maintenir vos espaces propres et ordonnés.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="healthicons:cleaning" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Entretien Ménager</a></h4>
          <p class="description">Un service d'entretien ménager complet pour assurer la propreté et l'hygiène de vos espaces de vie et de travail.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="bx:bxs-building-house" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Conciergerie pour Condo</a></h4>
          <p class="description">Des solutions de conciergerie personnalisées pour les condos, garantissant le confort et la sécurité des résidents.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="mdi:garage" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Nettoyage de Garage</a></h4>
          <p class="description">Services de nettoyage de garage pour éliminer saletés et débris, maintenant un espace ordonné et fonctionnel.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="healthicons:virus-outline" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Désinfection et Assainissement</a></h4>
          <p class="description">Un service de désinfection approfondie pour combattre virus et bactéries, assurant un environnement de travail et de vie sécurisé.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="bi:window" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Nettoyage de Vitres</a></h4>
          <p class="description">Services professionnels de nettoyage de vitres pour une clarté impeccable, améliorant l'esthétique et la luminosité de vos espaces.</p>
        </div>
      </div>
  </div>
  <div class="flex justify-center">
    <a href="#soumission" class="btn px-3 py-2">Soumission Gratuite</a>
  </div>
</section>


  <Stats
  stats={[
    { title: '+ Clients', amount: '1900' },
    { title: '+ Projets', amount: '2100' },
    { title: "Année d'expérience", amount: '25' },
    { title: '+ Employés', amount: '15' },
  ]}
/>

  
  
<Content
isAfterContent
title="Excellence en Entretien et Conciergerie"
tagline="Nos Engagements"
items={[
  {
    title: "Nettoyage et Ramassage de Déchets",
    description: "Notre service commence par un nettoyage approfondi et le ramassage de tous types de déchets, assurant une propreté et une hygiène irréprochables de vos espaces. Nous utilisons des méthodes écologiques pour respecter l'environnement tout en garantissant un résultat impeccable.",
    icon: "tabler:truck-loading",
  },
  {
    title: 'Désinfection et Assainissement',
    description:
      "Nous offrons un service de désinfection et d'assainissement complet, utilisant des produits certifiés et écologiques pour éliminer les virus, bactéries et autres agents pathogènes. Notre équipe est formée aux meilleures pratiques pour assurer la sécurité et le bien-être de tous les occupants.",
    icon: 'tabler:shield-check',
  },
  {
    title: 'Service Personnalisé et Flexible',
    description: "Chaque espace est unique, c'est pourquoi nous offrons un service entièrement personnalisable selon vos besoins spécifiques. Que ce soit pour des interventions ponctuelles ou un entretien régulier, notre flexibilité et notre attention aux détails garantissent votre satisfaction.",
    icon: 'tabler:needle-thread',
  },
]}
image={{
  src: 'https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/Pages/Cleaning/cleaning.webp',
  alt: "services d'entretien de K-Constructions",
}}>
</Content>




  <Adresse />



<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ensure elements are available
      var divisor = document.getElementById("divisor"),
          slider = document.getElementById("slider");
  
      // Define the function to adjust the divisor's width
      function moveDivisor() { 
        divisor.style.width = slider.value + "%";
      }
  
      // Check if both elements are present
      if(divisor && slider) {
        // Attach the event listener to the slider
        slider.addEventListener("input", moveDivisor);
        
        // Optional: Call moveDivisor initially if you want to set an initial value
        moveDivisor();
      } else {
        console.error("Either divisor or slider element is not found.");
      }
    });
  </script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
