---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Adresse from '~/components/widgets/Adresse.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Plomberie Fiable et Expertise - K-Constructions',
  description: "Bénéficiez de services de plomberie fiables et de l'expertise de K-Constructions. Solutions efficaces pour tous vos besoins en plomberie.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/banners/banner-plombier.png"
              alt="plombiers de k-constructions"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">
              Besoin d'un plombier?
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
              Trouble de plomberie?
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
                Contactez-Nous!
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="mx-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >POURQUOI NOUS?</p>
            <h2 class="text-2xl font-bold mb-4 test">NOUS OFFRONS UN SERVICE DE PLOMBERIE COMPLET, FIABLE ET EFFICACE, RÉPONDANT À TOUS VOS BESOINS, À MONTRÉAL ET SES ENVIRONS.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Nous comprenons l'importance d'un système de plomberie fonctionnel. C'est pourquoi nos plombiers qualifiés s'engagent à fournir des solutions rapides, 
              efficaces et durables pour tous vos problèmes de plomberie, grands ou petits. <br><br>
              Notre équipe de plombiers expérimentés est équipée pour gérer une large gamme de services de plomberie à Montréal. 
              Qu'il s'agisse de réparations urgentes, d'installations ou de maintenance, nous nous assurons que chaque travail est réalisé avec le plus haut niveau de professionnalisme et de qualité.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Contactez-nous
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>



<section id="propos" class="m-6" >
  <div class="flex justify-center">
    <h2 class="text-3xl font-bold mb-4 test">
      Notre offre
  </h2>
    
  </div>
  <About />
  <a href="/kconstructions" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
    À Propos
    <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
  </a>
</section>

<!-- <section id="services" class="services mt-4">
  <div class="container mx-auto">

    <div class="section-title">
      <h2>Services</h2>
      <p>Nouvelle construction ou rénovation ? Nous gérons toutes les installations électriques pour assurer une mise en place sûre et sans encombre.</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="col-span-1 md:col-span-2 lg:col-span-1">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Installations Électriques</a></h4>
          <p class="description">Nouvelle construction ou rénovation ? Nous gérons toutes les installations électriques pour assurer une mise en place sûre et sans encombre.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Réparations Électriques</a></h4>
          <p class="description">Réglez efficacement vos problèmes électriques grâce à nos services de réparation rapides et fiables.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Solutions d'Éclairage</a></h4>
          <p class="description">Améliorez votre éclairage pour une meilleure efficacité énergétique et une esthétique améliorée avec notre installation professionnelle.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Bornes Électrique</a></h4>
          <p class="description">Vous avez une nouvelle voiture électrique et avez besoin de la recharger ? Nous installons la borne de recharge qu'il vous faut !</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Inspections de Sécurité à Domicile</a></h4>
          <p class="description">Assurez la sécurité électrique de votre domicile avec nos inspections complètes, identifiant tout risque potentiel.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="material-symbols-light:e911-emergency" width="48" height="48"></iconify-icon></div>
          <h4 class="title text-white"><a href="#soumission">Services De Plomberie d'Urgence</a></h4>
          <p class="description">Une urgence électrique ? Nous sommes disponibles 24/7 pour résoudre vos problèmes et rétablir la sécurité.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="flex justify-center">
    <a href="#soumission" class="btn px-3 py-2">Soumission Gratuite</a>
  </div>
</section> -->





<Features2
title="Ce Que Nos Plombiers Peuvent Faire"
subtitle="De la simple réparation à la mise en place complète de nouveaux projets."
columns={3}
items={[
  {
    title: 'Travaux de plomberie',
    description:
    "Nos services de plomberie couvrent toutes les réparations et installations, garantissant des systèmes d'eau efficaces et fiables pour votre maison ou votre entreprise.",
    icon: 'tabler:tool',
  },
  {
    title: 'Projet de rénovations',
    description:
    "Transformez vos espaces avec nos projets de rénovation, alliant esthétique moderne et fonctionnalité pour créer des environnements sur mesure qui répondent à vos besoins.",
    icon: 'tabler:bath',
  },
  {
    title: 'Remplacement de chauffe-eau',
    description: "Assurez-vous d'un approvisionnement constant en eau chaude avec nos services de remplacement de chauffe-eau, offrant des solutions écoénergétiques et durables.",
    icon: 'tabler:droplet-half-2-filled',
  },
  {
    title: 'Recherche de Cause',
    description:
    "Identifiez la source de problèmes complexes avec notre service de recherche de cause, utilisant des techniques avancées pour diagnostiquer et résoudre efficacement les soucis.",
    icon: 'tabler:search',
  },
  {
    title: 'Remplacement de Toilette',
    description:
    "Modernisez votre salle de bain avec notre service de remplacement de toilette, offrant une gamme d'options économiques et écologiques pour améliorer votre confort et votre style.",
    icon: 'tabler:toilet-paper',
  },
  {
    title: "Service d'urgence",
    description:
    "Disponibles 24/7 pour toute urgence, nos équipes interviennent rapidement pour résoudre vos problèmes de plomberie, chauffage, et autres, minimisant les dommages et les désagréments.",
    icon: 'tabler:alert-triangle-filled',
  }
]}
/>


<FAQs
  title="FAQs sur nos Services de Plomberie"
  subtitle="Explorez nos réponses aux questions fréquemment posées pour découvrir en détail les services de plomberie offerts par K-Constructions."
  tagline="Vos questions, nos réponses"
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'Quels types de services de plomberie offrons-nous ?',
      description:
        "K-Constructions propose une gamme étendue de services de plomberie, incluant l'installation de nouvelles tuyauteries, la réparation de fuites, la modernisation des systèmes de plomberie résidentiels et commerciaux, et bien plus encore. Nous utilisons des matériaux de qualité supérieure et les dernières technologies pour garantir efficacité et durabilité.",
    },
    {
      title: 'Comment gérons-nous les urgences de plomberie ?',
      description:
        "Les urgences ne préviennent pas, c'est pourquoi notre équipe est disponible 24/7 pour intervenir rapidement en cas de fuite d'eau, de rupture de tuyau ou tout autre problème de plomberie urgent. Nous nous efforçons de minimiser les désagréments et de résoudre le problème efficacement avec le moins de perturbations possibles.",
    },
    {
      title: 'Quelles sont les qualifications de nos plombiers ?',
      description:
        "Nos plombiers sont tous certifiés et régulièrement formés aux nouvelles normes et technologies. Leur expertise couvre tous les aspects de la plomberie, garantissant un travail non seulement conforme aux normes de l'industrie, mais qui les dépasse.",
    },
    {
      title: "Pourquoi choisir K-Constructions pour vos besoins en plomberie ?",
      description:
        "Choisir K-Constructions, c'est opter pour une équipe qui s'engage à fournir un service de qualité supérieure, personnalisé selon vos besoins spécifiques. Nous sommes fiers de notre réactivité et de notre capacité à offrir des solutions durables et économiquement avantageuses.",
    },
    {
      title: 'Offrons-nous des contrats de maintenance ?',
      description:
        "Oui, nous proposons des contrats de maintenance préventive pour la plomberie, vous aidant ainsi à éviter des problèmes majeurs et coûteux à l'avenir. Ces contrats sont personnalisables selon vos besoins et incluent des inspections régulières, le nettoyage, ainsi que la réparation ou le remplacement préventif de pièces usées.",
    },
    {
      title: 'Comment garantir la satisfaction du client ?',
      description:
        "La satisfaction du client est notre priorité absolue. Nous ne considérons un projet terminé que lorsque nos clients sont entièrement satisfaits du résultat. Nous prenons le temps de comprendre vos attentes, de discuter des différentes options et de fournir un travail transparent et de haute qualité. Notre engagement envers l'excellence est soutenu par une garantie solide sur nos services et produits.",
    },
  ]}
/>





<Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Soumission!',
        href: '#soumission',
        // target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #444444;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}

</style>
