---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CookieBanner from '../components/common/CookieBanner.astro';
import Popbanner from '../components/common/Popbanner.astro';


import { otherprojects } from '~/components/ui/otherprojects.json';

import Contact from '~/components/widgets/elr-contact.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Newsletter from '~/components/widgets/Newsletter.astro';

const metadata = {
  title: 'K-Constructions - Votre Contracteur Général de Confiance pour tous vos Projets',
  description: 'K-Constructions, votre contracteur général pour une prise en charge complète de tous vos projets de construction et rénovation. Fiabilité et excellence garanties.',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>


  <section class="relative md:-mt-[100px]  not-prose">
    <div class="flex items-center justify-center min-h-screen">
      <!-- Image section -->
      <div class="absolute inset-0 z-0">
        <img
          class="w-full h-full object-cover"
          loading="eager"
          src="https://raw.githubusercontent.com/Elragency/astro-construction/eaaec3f8ba3bd0560bacbd1461daca76bebf758c/src/assets/images/hero2.webp"
          alt="le meilleur entrepreneur général à montréal et ses environs"
        />
      </div>
  
      <!-- Text content section -->
      <div class="relative z-10 text-center">
        <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1" data-aos="fade-up" data-aos-duration="2000">
          Les Experts de la construction sur la rive-sud de Montréal
        </p>
        <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
          K-CONSTRUCTIONS
        </h1>
        <a href="#soumission">
          <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
            SOUMISSION GRATUITE
            <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
          </button>
        </a>
        <!-- Additional content can be added here -->
      </div>
    </div>
  </section>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <section id="propos" class="mx-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >POURQUOI NOUS?</p>
            <h2 class="text-3xl font-bold mb-4 test">Débutez votre projet avec les meilleurs entrepreneurs de votre région.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              K-Constructions est une entreprise de construction renommée, connue pour son 
              engagement envers l'excellence et la qualité. Fondée sur des principes de durabilité, 
              d'innovation et de fiabilité, notre société s'est forgée une réputation solide dans le domaine 
              de la construction résidentielle, commerciale et industrielle.
              <br><br> 
              Avec une équipe d'experts hautement 
              qualifiés, K-Constructions offre une gamme complète de services, allant de la conception 
              architecturale à la réalisation de projets clés en main.
            </p>
            <a href="/kconstructions" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              À Propos
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="process" class="my-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="overflow-hidden">
        <div class="mx-auto container" > <!-- Tailwind container class -->
            <div class="flex flex-wrap -mx-4"> <!-- Flexbox and negative margin for gutters -->
                <div class="w-full md:w-1/2 lg:w-1/4 px-6"> <!-- Width classes for different breakpoints -->
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">01.</span> Contact</h4>
                        <p class="font-body">Utilisez le formulaire ci-dessous pour nous contacter.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">02.</span> inspection</h4>
                        <p class="font-body">Nous allons visiter l'adresse des travaux pour nous faire une idée.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">03.</span> Soumission</h4>
                        <p class="font-body">Nous vous faisons parvenir la soumission en 24h.</p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 px-6">
                    <div class="py-3 md:py-5 px-3">
                        <h4 class="mb-3 font-body1"> <span class="heading-color">04.</span> Réalisation</h4>
                        <p class="font-body">Nous effectuons les travaux souhaités.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
  <h2 class="text-3xl font-bold mb-1 mx-6 mt-4 test">CE QUE NOUS POUVONS FAIRE</h2>
  <p class="heading-color mx-9 ">NOS SERVICES</p>
  <PortfolioA />
</section>



  <Features2
    title="Pourquoi choisir K-constructions?"
    subtitle="Nos Promesses"
    tagline="Notre offre"
    items={[
      {
        title: 'Structure',
        description: "Nous sommes fiers d'offir un service complet et intelligent avec une gestion efficace pour chaque projet.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Rêver',
        description:
          "Faites nous part de vos rêves en construction et laissez-nous les rendre réalité avec notre équipe professionelle.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'En Règles',
        description:
          'Nos clients sont notre plus grande priorité, cela inclue leur satisfaction mais également leur sécurité.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Contrats',
        description:
          "Nous respectons nos contrats, autant l'échéancier établit que le prix convenue, pas de mauvaises surprises avec K-Constructions.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Référence',
        description:
          "Nous sommes en fonction depuis plus de 25 ans, nos références peuvent témoigner de la qualité de notre travail.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Paiements',
        description: 'Avec notre politique de paiement souple, nous nous assurons que tous vos projets soient réalisés à un prix concurentielle.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Témoignages',
        description: 'Nos clients témoignent de notre succès par eux mêmes, consulter nos avis sur google.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          "Avec un réseau de contact complet et professionel, vous n'allez pas avoir des problèmes à terminer vos projets en temps.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Expertise',
        description: "Notre expertise multi-niveau vous permet d'être sur que le projet que vous avez se réalisera sans problèmes.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

    <!-- Stats Widget ****************** -->

    <Stats
    stats={[
      { title: '+ Clients', amount: '1900' },
      { title: '+ Projets', amount: '2100' },
      { title: "Année d'expérience", amount: '25' },
      { title: '+ Employés', amount: '15' },
    ]}
  />


  

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Voir nos dernières publications"
    information={`
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Pourquoi Nous Choisir?"
  subtitle="Réponses aux Questions Essentielles Concernant Nos Services"
  tagline="Votre Partenaire de Confiance en Construction"
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: "Quelle est l'étendue de votre expertise en tant qu'entrepreneur général?",
      description:
        "Fort de plus de 25 ans d'expérience, notre entreprise s'est distinguée dans le domaine de la construction à Montréal, traitant aussi bien les petits projets de rénovation que les grandes constructions commerciales. Notre secret ? Une attention inébranlable portée à la qualité, au respect strict des échéances et à une communication fluide avec nos clients. Cette approche nous a permis de bâtir un portfolio riche et varié, démontrant notre capacité à répondre efficacement à toute demande.",
    },
    {
      title: "Quels sont vos engagements en termes de qualité et de conformité?",
      description:
        "Notre engagement envers la qualité est sans faille. Nous respectons scrupuleusement les normes de construction et les codes du bâtiment de Montréal, en confiant la supervision de chaque projet à des experts du domaine, dont des gestionnaires de projet chevronnés et des ouvriers hautement qualifiés. L'utilisation de matériaux premium et la réalisation d'inspections régulières nous permettent de garantir la durabilité, la sécurité et la conformité de nos constructions.",
    },
    {
      title: 'Comment puis-je accéder à des références ou à des exemples de vos réalisations précédentes?',
      description:
        "Nous tenons à cœur la transparence et la satisfaction client. Ainsi, nous mettons à votre disposition une large sélection d'études de cas et de témoignages illustrant nos projets passés. Ces documents, accessibles sur notre site web ou sur demande, soulignent notre engagement vers l'excellence et vous offrent un aperçu concret de notre savoir-faire et de notre fiabilité.",
    },
    {
      title: "Comment s'effectue la communication tout au long du projet?",
      description:
        "Nous plaçons la communication au centre de notre stratégie de gestion de projet. Un plan de communication détaillé est établi dès les premières étapes, prévoyant des mises à jour régulières et des points de contact spécifiques. Un gestionnaire de projet vous est dédié, garantissant une réponse rapide à toutes vos interrogations et vous tenant informé de l'avancement des travaux. Notre but est de vous offrir une expérience sereine et transparente, dépassant vos attentes à chaque étape.",
    },
    {
      title: 'Comment réagissez-vous aux imprévus et aux modifications durant le projet?',
      description:
        "Conscients que la flexibilité est primordiale en construction, nous avons établi des procédures solides pour gérer les changements et les imprévus de manière efficace, évitant retards et surcoûts. Nous communiquons toute modification directement avec vous, proposant des solutions adaptées pour maintenir le cap du projet. Notre vaste expérience nous permet d'identifier et de résoudre rapidement les problèmes, assurant ainsi la progression fluide des travaux.",
    },
    {
      title: 'Quelles assurances offrez-vous après la livraison du projet?',
      description:
        "Votre tranquillité d'esprit est primordiale pour nous. C'est pourquoi nous offrons une garantie complète post-livraison couvrant à la fois la main-d'œuvre et les matériaux. Les termes précis de cette garantie sont détaillés dans votre contrat, offrant une protection solide et fiable au-delà de la finalisation des travaux. En cas de besoin, notre équipe se tient prête à intervenir pour toute réparation nécessaire. Votre satisfaction est le pilier de notre réputation.",
    },
  ]}
/>




<Adresse />



 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        icon: 'tabler:phone',
      },
    ]}
  >



  
    <Fragment slot="title">
      Vous avez des projets en tête?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Contactez-nous immédiatement pour les rendre réels!<br class="hidden md:inline" />
    </Fragment>
  </CallToAction>

  <Newsletter />
  <!-- <Popbanner /> -->
  <CookieBanner />

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var consentBanner = document.getElementById('cookieConsentBanner');
    
      // Check if the user's consent has already been recorded
      var userConsent = localStorage.getItem('cookieConsent');
    
      // Only proceed to bind events if no consent has been recorded
      if (!userConsent) {
        var acceptButton = document.querySelector('.cookie-consent-banner__cta');
        var declineButton = document.querySelector('.cookie-consent-banner__cta--secondary');
    
        acceptButton.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default anchor action
          consentBanner.style.display = 'none';
          localStorage.setItem('cookieConsent', 'accept');
        });
    
        declineButton.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default anchor action
          consentBanner.style.display = 'none';
          localStorage.setItem('cookieConsent', 'decline');
        });
      } else {
        // Hide the banner if consent has already been given or declined
        consentBanner.style.display = 'none';
      }
    });
    </script>
    
    

  <!-- NEW SCRIPTS -->
    <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
  

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->

  <!-- <script>
    // Pop-Up Card JavaScript
    const modal = document.getElementById("specialOfferModal");
    const closeButton = document.querySelector(".close-button");
    closeButton.addEventListener("click", function() {
      modal.style.display = "none";
    });
    // Example trigger for the modal - after 5 seconds
    window.onload = function() {
      setTimeout(function() {
        modal.style.display = "block";
      }, 5000); // Adjust time as needed
    };
    </script> -->


  <!-- INITIAL SCRIPTS -->
  <!-- <script src="~/assets/js/jquery-1.11.0.min.js"></script>
  <script src="~/assets/js/plugins.js"></script>
  <script src="~/assets/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script> -->
  <!-- <script src="~/assets/js/contact.js"></script> -->


</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }
</style>
