---
import Layout from '~/layouts/En-PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/En/En-elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/En/En-Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Custom Bathroom Renovations | K-Constructions',
  description: "Transform your bathroom with K-Constructions' custom renovation services. Tailored designs, quality materials, and expert craftsmanship.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/dd6214e64e3d64e1735184ee2150a9a1a3da82b6/src/assets/images/banners/banner-salledebain.webp" 
              alt="rénovations de toilettes faites par K-constructions"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              Bathroom Renovation in Montreal
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              Is it time to change your style?
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                FREE QUOTE
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="m-6">
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00">DO BUSINESS WITH K-CONSTRUCTIONS GROUP</p>
            <h2 class="text-2xl font-bold mb-4 test">We understand the importance and elements you need for your bathroom.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000">
            <p class="ml-0 md:ml-6 font-body pb-4">
              We have solid experience in bathroom renovation in Montreal and Montérégie.
              Our teams guide you in choosing the materials and elements that will make up the room where you will relax.
              <br><br>
              Our experienced team is equipped to handle any type of bathroom, ensuring your complete satisfaction before the end of the work.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Contact us
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="why-us" class="why-us py-12">
    <div class="container mx-auto px-6">

      <div class="section-title text-center mb-12">
        <h2 class="text-3xl font-bold">Why Us?</h2>
      </div>

      <div class="row flex flex-wrap -mx-4">
        
        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>01</span>
            <h4 class="t-w">Initial Consultation and Needs Assessment:</h4>
            <p>Our first step involves a detailed consultation with you, the client. During this phase, we discuss your ideas, 
              needs, and expectations. This allows us to fully understand your vision and tailor our approach to 
              your project.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>02</span>
            <h4 class="t-w">Design and Planning</h4>
            <p>Following the consultation, our expert designers develop a design plan, using 3D visualization tools to help 
              you envision the finished space. This stage includes selecting materials, colors, and finishes, always respecting 
              your budget and preferences.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>03</span>
            <h4 class="t-w">Quote and Approval</h4>
            <p>Before starting the work, we will provide you with a detailed quote. This transparent document covers all costs and estimated 
              timelines for the project, ensuring there are no surprises along the way.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>04</span>
            <h4 class="t-w">Implementation</h4>
            <p>Once the quote is approved, our team of qualified professionals begins the implementation of the project. We commit to maintaining 
              clear and regular communication, keeping you informed of progress and any necessary adjustments.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>05</span>
            <h4 class="t-w">Project Duration Estimate</h4>
            <p>The duration of your bathroom renovation project will depend on several factors, such as the size of the bathroom, the 
              complexity of the work, and the availability of materials. Generally, a project can take from a few weeks to several months. 
              We commit to respecting established deadlines while ensuring a high-quality finish.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 px-4 w-full sm:w-1/2 md:w-1/2 lg:w-1/3">
          <div class="box shadow-lg rounded-lg p-6 text-center">
            <span>06</span>
            <h4 class="t-w">Our Promise</h4>
            <p>Once the design is approved, our skilled team takes over the project's realization. 
              We commit to maintaining clear and constant communication throughout the process, keeping you informed of work progress and any potential changes.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  
  <!-- FAQs Widget ******************* -->

  <FAQs
  title="A Complete Renovation Service"
  
  tagline="At Your Service"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'MORE THAN BUILDERS',
      description:
        "At K-Construction, we offer a full range of services for bathroom renovation in Montreal, tailored to the unique needs of each client. Our expertise ranges from the initial consultation to the final realization of the project, ensuring an impeccable transformation of your space. We handle all aspects of the renovation, including plumbing, electricity, tiling, sanitary installation, and interior decoration. Our team of design experts works closely with you to create a bathroom that not only meets your functional needs but also reflects your personal style. Whether you want a modern and minimalist bathroom, a classic and elegant space, or a spa-inspired haven, we are here to make your vision come true.",
    },
    {
      title: 'OUR SERVICE INCLUDES',
      description:
      "We have successfully completed bathroom renovation projects in several homes in Montreal and on the South Shore of Montreal. K-CONSTRUCTIONS has proven expertise in: Complete interior design, Plan design, Demolition of the current bathroom, Renovation and cleaning.",
    },
  ]}
/>


 


    <!-- Stats Widget ****************** -->

    <Stats
    stats={[
      { title: '+ Clients', amount: '1900' },
      { title: '+ Projects', amount: '2100' },
      { title: "Years of Experience", amount: '25' },
      { title: '+ Employees', amount: '15' },
    ]}
  />


  <Features
  id="features"
  title="Features of Our Bathroom Renovations"
  subtitle="Our bathroom renovation projects offer key features to meet our clients' needs."
  columns={3}
  items={[
    {
      title: 'Modern and Functional Designs',
      description:
        'We design custom bathrooms, incorporating modern and functional elements that reflect the latest design trends and meet your specific needs.',
      icon: 'tabler:layout-dashboard',
    },
    {
      title: 'Space Optimization',
      description: 'Through intelligent design, we optimize every inch of your bathroom, enhancing its functionality while maintaining a spacious and welcoming appearance.',
      icon: 'tabler:space',
    },
    {
      title: 'Durable and Elegant Materials',
      description:
        'We select high-quality materials for your bathroom renovation, ensuring long-term durability while highlighting the aesthetics of the space.',
      icon: 'tabler:tools-kitchen-2',
    },
    {
      title: 'Innovative Storage Solutions',
      description: 'We integrate smart and customized storage solutions, allowing for an organized and functional space that facilitates daily life.',
      icon: 'tabler:layout-grid',
    },
    {
      title: 'Ambient and Functional Lighting',
      description:
        'Our custom lighting design creates a warm ambiance while offering optimal functionality, highlighting the design elements of your bathroom.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Professional and Meticulous Installation',
      description: 'Our team of experts ensures a professional and meticulous installation, aiming for impeccable finishing and adherence to agreed timelines for your bathroom renovation.',
      icon: 'tabler:hammer',
    },
  ]}
/>


  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'CALL US NOW',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      CONTACT US <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immediately</span>
    </Fragment>

    <Fragment slot="subtitle">
      To turn your dreams into realities. 
    </Fragment>
  </CallToAction>
  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ff3c00;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #2a2a2a;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #ff3c00;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}
</style>
