---
import AboutAcordeon from '~/components/widgets/Aboutacc-balcons.astro';

---

<section class="mb-section">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8 text-white">
        <!-- <h2 class="text-title">
            Nos zones d'expertise
        </h2>
        <p class="text-sm opacity-50 md:text-base">
            Avec plus de 25 ans d'expérience, vous faites affaire avec des professionnels lorsque vous nous engagez.
        </p> -->
    </header>
    <section class="grid gap-8 md:grid-cols-2">
        <AboutAcordeon open={0}/>
        <div class="w-full aspect-square rounded-br-[10rem] overflow-hidden text-white">
            <img class="w-full h-full object-cover" src="https://raw.githubusercontent.com/Elragency/astro-construction/93cd7d2e84c0a8b09db4a31677ec6f2dc4a348af/src/assets/images/jobs/balcons/balcon1.webp" alt="some building">
        </div>
    </section>
</section>