---
import Layout from '~/layouts/PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/Adresse.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: "K-Constructions | Services d'Aménagement Paysager Haut de Gamme et Sur Mesure",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/721841c30c4f94caeeb75b8259e0c2894ce58d5f/src/assets/images/banners/banner-paysagement.webp"
              alt="les meilleurs paysagiste à montréal et ses environs"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              LES PROS DE L'AMÉNAGEMENT PAYSAGER À MONTRÉAL
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              CHANGER DE PAYSAGE
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                SOUMISSION GRATUITE
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="propos" class="mx-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >FAITE AFFAIRE AVEC LE GROUPE K-CONSTRUCTIONS</p>
            <h2 class="text-2xl font-bold mb-4 test">PASSEZ DU RÊVE À LA RÉALITÉ AVEC NOS SERVICES D'AMÉNAGEMENT PAYSAGER</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              K-Constructions, située au cœur de Montréal, est votre expert en aménagement paysager. Nous offrons une gamme complète de services d'aménagement paysager, 
              adaptés pour embellir et valoriser votre espace extérieur. Notre équipe qualifiée est spécialisée dans la création de paysages uniques et personnalisés 
              qui reflètent vos préférences et s'adaptent à l'environnement local de Montréal.
              <br><br>
              K-Constructions ne se limite pas seulement à la création de paysages esthétiques; nous nous engageons également dans la durabilité et l'écologie de vos espaces verts. 
              En utilisant des matériaux respectueux de l'environnement et des techniques d'aménagement innovantes, nous visons à promouvoir la biodiversité et à réduire 
              l'empreinte écologique de chaque projet. Notre approche holistique assure que votre jardin ou espace extérieur soit non seulement beau, mais également 
              bénéfique pour l'écosystème local, contribuant ainsi à un avenir plus vert et durable pour Montréal.
              K-Constructions est votre paysagiste de choix à Montréal, sur la rive sud de montréal ou sur la rive-nord!
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Obtenez une soumissions
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


<section id="services" class="services m-4">
  <div class="container mx-auto">

    <div class="flex justify-center pb-4">
      <h2 class="text-3xl font-bold mb-4 test">
        Notre offre
    </h2>
      
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" >
      <div class="col-span-1 md:col-span-2 lg:col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="guidance:garden" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a href="#">Conception de jardins sur mesure</a></h4>
          <p class="description text-m1">Nous élaborons des plans d'aménagement paysager sur mesure, intégrant vos idées avec notre expertise pour créer des espaces extérieurs esthétiques et fonctionnels.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="material-symbols:water-pump-outline" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Installation de systèmes d'irrigation écologiques</a></h4>
          <p class="description">Nos systèmes d'irrigation innovants assurent une gestion efficace de l'eau, réduisant le gaspillage et favorisant la santé de vos plantes, tout en étant respectueux de l'environnement.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="carbon:map-boundary-vegetation" width="48" height="48"></iconify-icon></div>
          <h4 class="title text-white"><a>Aménagement de murs et toits végétalisés</a></h4>
          <p class="description">Nous créons des murs et toits végétalisés qui non seulement embellissent vos espaces mais contribuent également à l'isolation thermique et à la biodiversité urbaine.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="arcticons:bricksbreakerballscrush" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Pose de pavés et dallages</a></h4>
          <p class="description">Notre expertise en pose de pavés et dallages offre une touche d'élégance et de durabilité à vos allées, patios et terrasses, avec une variété de matériaux adaptés au climat de Montréal.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="material-symbols:garden-cart-outline" width="48" height="48"></iconify-icon></div>
          <h4 class="title"><a>Entretien écologique des espaces verts</a></h4>
          <p class="description">Nous proposons des services d'entretien paysager respectueux de l'environnement, incluant la tonte, la taille, et le soin des plantes, utilisant des méthodes et produits écologiques.</p>
        </div>
      </div>
      <div class="col-span-1">
        <div class="icon-box">
          <div class="icon"><iconify-icon icon="material-symbols-light:light-mode" width="48" height="48"></iconify-icon></div>
          <h4 class="title t-w" ><a>Éclairage paysager</a></h4>
          <p class="description">Notre éclairage paysager transforme votre jardin en un espace enchanteur à la tombée de la nuit, mettant en valeur les éléments architecturaux et les plantations grâce à des solutions d'éclairage esthétiques.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="flex justify-center">
    <a href="#soumission" class="btn px-3 py-2">Soumission Gratuite</a>
  </div>
</section>
<br><br>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:tool',
        callToAction: {
          text: 'Les bons outils',
          href: '#soumission',
        },
      },
      {
        icon: 'tabler:plant',
        callToAction: {
          text: 'Écologie',
          href: '#soumission',
        },
      },
      {
        icon: 'tabler:users',
        callToAction: {
          text: 'La bonne équipe',
          href: '#soumission',
        },
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/gallery/landcaping-k.avif',
      alt: 'service de paysagement k-constructions',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Obtenez une pelouse éclatante avec K-Constructions</h3>
      <p>
        L'aspect extérieur de votre espace commercial joue un rôle crucial dans l'accueil de vos clients. Avec le service professionnel de tonte de pelouse proposé par K-Constructions, 
        libérez-vous de toute préoccupation liée à l'entretien de votre espace vert. Nos experts, dotés d'une expertise inégalée en entretien paysager, 
        garantissent une qualité de tonte exceptionnelle qui rehaussera la beauté et la santé de votre pelouse, lui conférant une apparence soignée et accueillante à l'année longue.
      </p>
      <br />
      <p>
        Chez K-Constructions, nous adaptons nos services à vos exigences spécifiques. Nous proposons une maintenance régulière de votre espace vert, avec des interventions bimensuelles 
        ou ajustées selon vos besoins. Cette approche personnalisée assure le maintien d'une pelouse dense, verte et en pleine santé, reflet de votre engagement 
        envers un environnement extérieur attrayant et professionnel.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'APPELEZ-NOUS!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >



  
    <Fragment slot="title">
      CONTACTEZ-NOUS <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immédiatement</span>
    </Fragment>

    <Fragment slot="subtitle">
      Pour transformer vos rêves en réalités. 
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}

</style>
