---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero4 from '~/components/widgets/Hero4.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import Contact from '~/components/widgets/elr-contact.astro';


const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero4
  image={{ src: '~/assets/images/banner1-img1.png', alt: 'AstroWind Hero Image' }}
  >

  </Hero4>


  <section class="p-8">
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap" class="container">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">   
                    <div class="flat-content-wrap style-2 clearfix">
                        <h3 class="mb-3">Plus que des constructeurs</h3>
                        <p>Grâce à notre service Conception-Réalisation, nous offrons à nos clients une source unique de responsabilité. 
                            Nous nous engageons à comprendre et développer vos attentes, en gérant celles-ci avec une équipe de conception sur mesure et hautement qualifiée. 
                            L'innovation est au cœur de chaque projet. Pour cela, nous concentrons nos efforts sur chaque étape de chaque phase, afin de rendre le processus entier 
                            fluide et transparent. Notre approche proactive et collaborative est la clé pour dévoiler des idées uniques et saisir les opportunités d'amélioration avant 
                            le début de la phase suivante. Avec nous, transformez votre cuisine en un espace de rêve, où fonctionnalité et esthétique se rencontrent pour créer un lieu 
                            de vie unique.</p>
                    </div>
                    <div class="themesflat-spacer clearfix" data-desktop="37" data-mobile="35" data-smobile="35"></div>     
                    <div class="flat-content-wrap style-2 clearfix">
                        <h5 class="title no-letter-spacing">CONTACTEZ-NOUS POUR DES SERVICES DE CONCEPTION-CONSTRUCTION DE CUISINE AUJOURD'HUI</h5>
                        <div class="themesflat-spacer clearfix" data-desktop="27" data-mobile="27" data-smobile="27"></div> 
                        <div class="themesflat-tabs style-2 title-w170 clearfix">
                            <ul class="tab-title clearfix ">
                                <li class="item-title active">
                                    <span class="inner text-black">Expérience</span>
                                </li>
                                <li class="item-title">
                                    <span class="inner text-black">COMPLET</span>
                                </li>
                                <li class="item-title">
                                    <span class="inner text-black">COÛTS</span>
                                </li>
                            </ul>

                            <div class="tab-content-wrap clearfix">
                                <div class="tab-content">
                                    <div class="item-content">                                                            
                                        <p>
                                            K-Construction, forte de ses 25 ans d'expérience dans les services électriques, se distingue par son expertise et sa fiabilité inébranlable. 
                                            Cette longévité remarquable dans le secteur n'est pas seulement le reflet d'une grande expérience, mais aussi d'une réputation bâtie sur la 
                                            confiance et la satisfaction des clients. Au fil des années, K-Construction a su s'adapter aux évolutions technologiques et réglementaires du domaine électrique, 
                                            ce qui témoigne de leur engagement à fournir des services à la fois contemporains et conformes aux normes de sécurité les plus strictes. 
                                        </p>
                                        <p>
                                            Cette expérience de plusieurs 
                                            décennies leur permet de comprendre et de répondre efficacement aux besoins les plus complexes, qu'il s'agisse de projets résidentiels, commerciaux ou industriels.
                                        </p>                                                    
                                    </div>
                                </div><!-- /.tab-content -->
                                <div class="tab-content">
                                    <div class="item-content">                                                            
                                        <p>
                                            En plus de leur riche expérience, K-Construction offre un service électrique complet, couvrant un large éventail de besoins. 
                                            Leur gamme de services s'étend de l'installation électrique de base à des solutions plus complexes comme les systèmes automatisés, 
                                            la domotique et les installations écoénergétiques. Cette approche globale garantit que les clients bénéficient d'une solution complète, 
                                            adaptée à leurs exigences spécifiques, sans avoir à faire appel à plusieurs prestataires.
                                            </p>
                                        <p> 
                                            L'expertise de K-Construction, 
                                            alliée à leur service complet, assure aux clients une tranquillité d'esprit totale, sachant que leur projet est entre les
                                             mains de professionnels chevronnés capables de gérer tous les aspects des travaux électriques avec compétence et soin.
                                        </p>                                                    
                                    </div>
                                </div><!-- /.tab-content -->
                                <div class="tab-content">
                                    <div class="item-content">                                                            
                                        <p>
                                            K-Construction s'engage à offrir ses services d'électricien avec un équilibre parfait entre coût et qualité, ce qui en fait 
                                            un choix privilégié sur le marché. Leur modèle de tarification est conçu pour offrir une valeur exceptionnelle, garantissant 
                                            que les clients reçoivent un travail de qualité supérieure à un prix compétitif. Cette approche de meilleur coût ne compromet 
                                            pas la qualité ; au contraire, elle repose sur une optimisation efficace des ressources et une gestion experte des projets. 
                                            K-Construction utilise des matériaux de haute qualité et les dernières technologies pour assurer la durabilité et l'efficacité 
                                            de leurs installations électriques, tout en maintenant des tarifs accessibles. Cette stratégie de prix équitable, couplée à une 
                                            exécution de haute qualité, permet à K-Construction de se démarquer en tant que prestataire de services électriques de premier choix.
                                        </p>
                                        <p>
                                            La qualité est un pilier central de l'offre de K-Construction. Ils s'assurent que chaque projet, qu'il soit grand ou petit, 
                                            est réalisé avec le plus haut degré de professionnalisme et d'attention aux détails. Leur équipe d'électriciens certifiés et 
                                            hautement qualifiés est dédiée à fournir un travail impeccable, respectant strictement les normes de sécurité et les réglementations 
                                            en vigueur. Cette excellence dans l'exécution se traduit par des installations fiables, sécurisées et optimisées pour la performance 
                                            et la longévité. En choisissant K-Construction, les clients bénéficient d'une assurance de qualité inégalée, où chaque aspect du 
                                            service est conçu pour surpasser les attentes, tout en restant dans les limites d'un budget raisonnable. Ce parfait équilibre 
                                            entre coût et qualité fait de K-Construction un partenaire incontournable pour tous les besoins en services électriques.
                                        </p>                                                    
                                    </div>
                                </div><!-- /.tab-content -->
                            </div><!-- /.tab-content-wrap -->
                        </div><!-- /.themesflat-tabs -->
                    </div>
                    <div class="themesflat-spacer clearfix" data-desktop="80" data-mobile="60" data-smobile="60"></div>
                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->
            <div id="sidebar">
                <div class="themesflat-spacer clearfix" data-desktop="80" data-mobile="0" data-smobile="0"></div>
                <div id="inner-sidebar" class="inner-content-wrap">        
                    <div class="widget widget_help align-center has-shadow no-sep has-border border-solid">
                        <div class="inner">
                            <h2 class="widget-title margin-bottom-14"><span>VOUS ÊTES PRÊTS À PASSER À L'ACTION?</span></h2>
                            <p class="text line-height-26 margin-bottom-23">
                                Remplissez le formulaire ci-dessous et nous vous contacterons dans les plus brefs délais
                            </p>
                            <div class="elm-button">
                                <a href="#soumission" class="themesflat-button bg-accent pd30">DÉBUTEZ MAINTENANT!</a>
                            </div>
                        </div>                                
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="60" data-smobile="60"></div>
            </div><!-- /#sidebar -->
        </div><!-- /#content-wrap -->
    </div><!-- /#main-content -->
</section>



<section>
  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our templates"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  />

  

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />

<Contact />

<!-- <script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/script.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script> -->
<script src="~/assets/js/shortcodes.js"></script>

<style>







@media only screen and (max-width: 1199px) {
	.themesflat-icon-box.padding-inner { padding: 15px; }
  .themesflat-icon-box.padding-inner.pd33 { padding: 10px; }
  .themesflat-icon-box.icon-left .text-wrap { padding-left: 62px; }
  .themesflat-icon-box.style-2 .heading { font-size: 14px; }
}

@media only screen and (max-width: 991px) {
  .themesflat-icon-box.style-3 .heading { font-size: 15px;  }
}




@media only screen and (max-width: 991px) {
	.half-background.style-2 { height: 330px; }
}

@media only screen and (max-width: 767px) {
	.half-background.style-1 { height: 330px; }
	.half-background.style-2 { margin-top: 35px; }
}



@media only screen and (max-width: 1199px){
  .themesflat-image-box.style-2 .text-wrap { padding: 15px 0px; }
}

@media only screen and (max-width: 1199px) {
	.has-arrows.arrow-center.offset-v-82 .owl-theme .owl-nav [class*='owl-'] { margin-top: -150px; }
}

@media only screen and (max-width: 767px) {
	.has-arrows .owl-theme .owl-nav, .has-bullets .owl-theme .owl-dots { display: none ; }
}
/* Carousel thumb
-------------------------------------------------------------- */
.owl-theme .owl-thumbs { display: none; }
.has-thumb .owl-theme .owl-thumbs { display: block; }
.has-thumb .owl-thumbs .owl-thumb-item { display: inline-block; background-color: transparent; padding: 0px; margin: 20px 0px 0px 20px; }
.has-thumb .owl-thumbs .owl-thumb-item:first-child { margin-left: 0px; }

.has-thumb.w185 .owl-thumbs .owl-thumb-item { width: 184px; height: 106px; border: 1px solid transparent; }
.has-thumb.w185 .owl-thumbs .owl-thumb-item.active { border-color: #ff3c00; }

@media only screen and (max-width: 1199px) {
	.has-thumb .owl-thumbs .owl-thumb-item:last-child { margin: 20px 0px 0px 0px; }
}

@media only screen and (max-width: 479px) {
	.has-thumb .owl-thumbs .owl-thumb-item { margin: 20px 0px 0px 0px; }
}

/
@media only screen and (max-width: 1199px) {
	.themesflat-project.style-1 .heading { font-size: 12px; }
	.themesflat-project.has-margin.mg15.w25 .project-item { width: 33.33%; }
  .themesflat-project.style-2 .text-wrap{ padding: 15px 5px; }
}

@media only screen and (max-width: 767px) {
	.themesflat-project.style-1 .heading { font-size: 14px; }
	.themesflat-project.has-margin.mg15.w25 .project-item ,
	.themesflat-project.has-margin.mg15 .project-item { width: 50%; }
}

@media only screen and (max-width: 479px) {
	.themesflat-project.has-margin.mg15.w25 .project-item,
	.themesflat-project.has-margin.mg15 .project-item { width: 100%; }
}


/* Tabs
-------------------------------------------------------------- */
.themesflat-tabs .tab-title { margin: 0 ; }
.themesflat-tabs .tab-title .item-title { font-family: "Montserrat", sans-serif;   padding: 0; list-style: none; display: inline-block; letter-spacing: 0.5px;  }
.themesflat-tabs .tab-title .item-title.active { position: relative;  }
.themesflat-tabs .tab-title .item-title > span { cursor: pointer;  transition: none;  display: inline-block; text-transform: uppercase; }

.themesflat-tabs.title-w170 .tab-title { width: 170px; }
/* Style 1 */
.themesflat-tabs.style-1 .tab-title  { margin:0 0 5px 0; background-color: transparent; }
.themesflat-tabs.style-1 .tab-title .item-title  { font-size: 14px; font-weight: 600; color: #777; margin: 0px 5px 0px 0px; border: 1px solid #f2f2f2; }
.themesflat-tabs.style-1 .tab-title .item-title > span { padding: 10px 36px 10px 39px; }
.themesflat-tabs.style-1 .tab-title .item-title.active > span { padding: 13px 36px 10px 39px; }
.themesflat-tabs.style-1 .tab-title .item-title.active { background-color: #fafafb; color: #2b323a;  }
.themesflat-tabs.style-1 .tab-content .item-content { padding: 19px 0px 19px 21px; background-color: #fafafb;  }
.themesflat-tabs.style-1 .tab-content .item-content p { margin: 0px 0px 8px 0px; line-height: 26px; color: #777; letter-spacing: -0.13px; }

.themesflat-tabs.style-1 .tab-content ul { margin: 0px; }
.themesflat-tabs.style-1 .tab-content ul li { padding: 5.5px 7px; }
.themesflat-tabs.style-1 .tab-content ul span { display: block; }
.themesflat-tabs.style-1 .tab-content ul span.fa { text-align: center; width: 30px; height: 30px; background-color: #ff3c00; color: #fff; font-size: 16px; float: left; margin-right: 11px; line-height: 30px; }
.themesflat-tabs.style-1 .tab-content ul span.text { overflow: hidden; }

/* Style 2 */
.themesflat-tabs.style-2 { display: table; width: 100%; }
.themesflat-tabs.style-2 .tab-content-wrap ,
.themesflat-tabs.style-2 .tab-title { display: table-cell; vertical-align: top; }
.themesflat-tabs.style-2 .tab-title .item-title  { font-size: 14px; font-weight: 500; color: #777; margin: 0px 0px 5px 0px; background-color: #f1f1f1; display: block;}
.themesflat-tabs.style-2 .tab-title .item-title > span { padding: 13px 0px; display: block; text-align: center;}
.themesflat-tabs.style-2 .tab-content{ margin-left: 9px; }
.themesflat-tabs.style-2 .tab-content .item-content { padding: 20px 0px 19px 26px; background-color: transparent; border: 1px solid #f2f2f2;  }
.themesflat-tabs.style-2 .tab-content .item-content p { margin-top: 10px; letter-spacing: 0.07px; }
.themesflat-tabs.style-2 .tab-content .item-content p:first-child { margin: 0px; letter-spacing: 0px; }
.themesflat-tabs.style-2 .tab-title .item-title.active { background-color: #ff3c00; color: #222; }

/* Has padding */
.themesflat-tabs.w168 .tab-title .item-title { width: 168px; text-align: center;  }
.themesflat-tabs.w168 .tab-title .item-title > span { padding: 10px 0px; }
.themesflat-tabs.w168 .tab-title .item-title.active > span { padding: 13px 0px 10px 0px; }


.themesflat-tabs.style-1 .tab-title .item-title:hover > span { color: #2b323a; }

@media only screen and (max-width: 1199px) {
	.themesflat-tabs.w168 .tab-title .item-title { width: 140px; }
	.themesflat-tabs.style-1 .tab-title .item-title.active > span,
	.themesflat-tabs.style-1 .tab-title .item-title > span { padding: 10px; }
}

@media only screen and (max-width: 991px) {
	.themesflat-tabs.w168 .tab-title .item-title { width: 100%; }
	.themesflat-tabs.style-1 .tab-title { margin: 0px; }
	.themesflat-tabs.style-1 .tab-title .item-title { margin: 0px 0px 5px 0px; display: block; }
	.themesflat-tabs.style-1 .tab-title .item-title { text-align: center; }
	.themesflat-tabs.style-1 .tab-title .item-title.active > span { padding: 10px 0px;  width: 100%; }
  .themesflat-tabs.style-2 .tab-content .item-content { padding: 15px; }
}

@media only screen and (max-width: 479px) {
	.themesflat-tabs.style-2 .tab-content-wrap, 
	.themesflat-tabs.style-2 .tab-title { display: block; text-align: left; }
	.themesflat-tabs.title-w170 .tab-title { width: 100%; }
	.themesflat-tabs.style-2 .tab-content { margin: 0px; }
}


/* Style 4 */
.themesflat-accordions.style-4 .accordion-item .accordion-heading { font-size: 16px; color: #777; font-weight: 500; border: 1px solid #f2f2f2; background-color: #fafafb; text-transform: uppercase;  padding: 13px 23px;}
.themesflat-accordions.style-4 .accordion-item.active  .accordion-heading { background-color: #ff3c00; border-color: #ff3c00; color: #fff; }
.themesflat-accordions.style-4 .accordion-content { border: 1px solid #f2f2f2; padding: 22px 5px 22px 24px;  }
.themesflat-accordions.style-4.has-icon.icon-right .accordion-item .accordion-heading > .inner:before { color: #999; font-size: 30px; right: 0px; }
.themesflat-accordions.style-4.has-icon.icon-right .accordion-item.active .accordion-heading > .inner:before { color: #fff; }

.themesflat-accordions.style-4 .accordion-content .name { font-size: 14px; line-height: 24px; color: #555; margin-bottom: 10px; }
.themesflat-accordions.style-4 .accordion-content p { margin: 0px; }

.themesflat-accordions .accordion-item .accordion-heading:hover { color: #222;  }

@media only screen and (max-width: 991px) {
  .themesflat-accordions.style-2 .accordion-item .accordion-heading { font-size: 13px; padding: 6px 0px; }
}

@media only screen and (max-width: 767px) {
  .themesflat-accordions.style-2 .accordion-item .accordion-heading { padding: 15px 0px; }
}

@media only screen and (max-width: 479px) {
  .themesflat-accordions.style-2 .accordion-item .accordion-heading { padding: 6px 0px; }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #444444;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #8ed851;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #2a2a2a;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #ebb110;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

</style>
</Layout>
