---
import Layout from '~/layouts/En-PageLayout.astro';

import Hero3 from '~/components/widgets/Hero3.astro';
import Allservices from '~/components/widgets/allservices.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import PortfolioA from '~/components/widgets/PortfolioA.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { otherprojects } from '~/components/ui/otherprojects.json';

import About from '~/components/common/About.astro';

import Contact from '~/components/widgets/En/En-elr-contact.astro';
import Image from '~/components/common/Image.astro';
import Adresse from '~/components/widgets/En/En-Adresse.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Top Roofing Services | K-Constructions',
  description: "Need reliable roofing? Trust K-Constructions for top-quality roofing services that ensure durability and aesthetic appeal for your home.",
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  
  <!-- BEGINNING SCRIPT NEEDED FOR ACCORDEON -->
  <script>
    const accordion = document.getElementById("acordeon");
    if (!accordion) throw new ReferenceError();
  
    accordion.addEventListener("click", (e) => {
      const target = e.target as HTMLElement;
      const dataset = { ...target.dataset };
  
      const content = target.nextElementSibling as HTMLElement;
      const arrow = target.querySelector("img") as HTMLElement;
  
      if (!arrow || !content) throw new ReferenceError();
  
      switch (dataset.status) {
        case "disabled":
          content.style.gridTemplateRows = "1fr";
          target.dataset.status = "enabled";
          arrow.style.rotate = "90deg";
          break;
        case "enabled":
          content.style.gridTemplateRows = "0fr";
          target.dataset.status = "disabled";
          arrow.style.rotate = "0deg";
          break;
        default:
          break;
      }
    });
  </script>
    <!-- END SCRIPT NEEDED FOR ACCORDEON -->
  <!-- Hero Widget ******************* -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/assets/js/jquery-1.11.0.min.js"></script>


  <!-- <script src="~/assets/js/modernizr.js"></script> -->




      <!-- Link Swiper's CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
      <link href="~/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet1">

      <section class="relative md:-mt-[100px]  not-prose">
        <div class="flex items-center justify-center min-h-screen">
          <!-- Image section -->
          <div class="absolute inset-0 z-0">
            <img
              class="w-full h-full object-cover"
              loading="eager"
              src="https://raw.githubusercontent.com/Elragency/astro-construction/main/src/assets/images/banners/banner-couvreur.png"
              alt="les meilleurs couvreurs à montréal et ses environs"
            />
          </div>
      
          <!-- Text content section -->
          <div class="relative z-10 text-center">
            <p class="text-base text-secondary text-white font-bold tracking-wide uppercase m-1"data-aos="fade-up" data-aos-duration="2000">
              PROFESSIONAL ROOFERS IN MONTRÉAL AND MONTREGIE
            </p>
            <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200" data-aos="fade-up" data-aos-duration="2500">
              QUICK AND RELIABLE ROOF REPAIRS
            </h1>
            <a href="#soumission">
              <button type="button" class="btn btn-outline-orange inline-block text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2"data-aos="fade-up" data-aos-duration="2600">
                GET YOUR FREE QUOTE NOW
              </button>
            </a>
            <!-- Additional content can be added here -->
          </div>
        </div>
      </section>
      

  <!-- <Note /> -->

  <section id="proposal" class="m-6" >
    <div class="overflow-hidden">
      <div class="container mx-auto px-4 py-6 border-b" >
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 py-6 mb-4 md:mb-0 border-r padding-body" data-aos="fade-left" data-aos-duration="2000">
            <p class="text-xl mb-3" style="color:#ff3c00" >DO BUSINESS WITH GROUP K-CONSTRUCTIONS</p>
            <h2 class="text-2xl font-bold mb-4 test">AT K-CONSTRUCTIONS, WE ARE YOUR ROOFING EXPERTS.</h2>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 padding-body" data-aos="fade-right" data-aos-duration="2000" >
            <p class="ml-0 md:ml-6 font-body pb-4">
              Weather and time can damage your roof. At K-Constructions, we understand the urgency of such situations.
              Our team is ready to respond quickly to perform the necessary repairs.
              <br><br>
              We ensure that each repair is done with precision and efficiency to ensure the longevity and resilience of your roof.
            </p>
            <a href="#soumission" class="btn btn-outline-orange inline-block bg-primary text-white py-3 px-4 rounded mt-1 ml-0 md:ml-6 mb-2">
              Request a Quote
              <iconify-icon icon="tabler:arrow-right" class="inline-block ml-2"></iconify-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="offer" class="my-10 pt-10">
    <div class="container mx-auto pt-10">
      <div class="flex justify-center pb-4">
        <h2 class="text-3xl font-bold mb-4 test">
          Our Offer
      </h2>
        
      </div>
        <div class="flex justify-center pb-4">

        <div class="flex flex-wrap -mx-4">
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                    <iconify-icon class="text-3xl my-2" icon="mdi:home-roof"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Complete Replacement</h5>
                    <p>Renew your roof with expertise and durability.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                    <iconify-icon class="text-3xl my-2" icon="mdi:weather-lightning"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Emergencies</h5>
                    <p>Fast and reliable response to your emergencies.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6 shadow-lg rounded-lg">
                    <iconify-icon class="text-3xl my-2" icon="mdi:hammer"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Repairs</h5>
                    <p>Effective repairs for a solid roof.</p>
                </div>
            </div>
            <div class="mt-4 px-4 w-full md:w-1/2 lg:w-1/4">
                <div class="text-center py-10 px-6  shadow-lg rounded-lg">
                    <iconify-icon class="text-3xl my-2" icon="mdi:white-balance-sunny"></iconify-icon>
                    <h5 class="text-xl font-semibold mb-3">Solar Panels</h5>
                    <p>Modernize your roof with solar solutions.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  
  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Unbeatable as Roofing Experts"
  subtitle="We're here for all your roofing needs, whether it's urgent repairs or a complete roof replacement, contact K-Constructions!"
  tagline="At Your Service"
  columns={1}
  classes={{ container: 'max-w-6xl' }}
  items={[
      {
          title: 'Why K-Constructions?',
          description:
              "If you're looking for superior quality roof repair, K-Constructions is your ideal solution. Specializing in roof repairs, we offer fast and reliable service, essential for maintaining the integrity and safety of your home. Our roof repair experts use advanced techniques and premium materials to ensure that each repair withstands the test of time."
      },
      {
          title: 'Roof Replacement',
          description:
              "When it's time for a roof replacement, K-Constructions excels with expertise and professionalism. We understand that replacing a roof is a significant investment, which is why we are committed to providing comprehensive and high-quality roof replacement service. Our approach to roof replacement incorporates the latest innovations in materials and design, ensuring not only the energy efficiency of your home but also enhanced aesthetics. Each roof replacement project is handled with the utmost care, ensuring that every detail meets our clients' expectations. With K-Constructions, you're investing in a new roof that not only improves the appearance of your home but also increases its long-term value."
      },
      {
          title: 'Roofing Services',
          description:
              "K-Constructions stands out with its comprehensive and professional service offering in all aspects of construction and renovation. Our commitment to excellence is reflected in every service we offer, whether it's roof repair, replacement, or specialized installations like solar panels. By opting for our comprehensive and professional service, you benefit from the expertise of a dedicated and experienced team, ready to meet all your construction and renovation needs. We ensure that each project is carried out with precision, efficiency, and in accordance with the highest industry standards. Trusting K-Constructions means choosing peace of mind, knowing that your project is in the hands of professionals committed to delivering exceptional and long-lasting results. Our integrated approach ensures seamless project management, from initial consultation to completion, ensuring an unparalleled customer experience and results that exceed your expectations."
      },
  ]}
/>


<Content
    isAfterContent
    items={[
        {
            title: 'Fast Service at the Best Price',
            description: "Competitive Offers: We offer the best rates on the market without compromising the quality of our services.",
            icon: 'tabler:discount-check-filled',
        },
        {
            title: 'Expertise in Our Field',
            description:
                "Technical Expertise: Our team of experts has the qualifications necessary to ensure flawless installation and repair.",
            icon: 'tabler:crane',
        },
        {
            title: 'Complete Guarantee',
            description: "Satisfaction Guarantee: We are committed to providing an exceptional level of finish, supported by a warranty on our roofing work.",
            icon: 'tabler:refresh',
        },
    ]}
    image={{
        src: 'https://images.unsplash.com/photo-1503594384566-461fe158e797?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        alt: 'Roof repair done by K-Constructions',
    }}
>
    <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other Reasons</h3>
    </Fragment>
</Content>




  <Adresse />

<!-- <Allservices
 /> -->

 <Contact />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'CALL US RIGHT NOW!',
        href: 'tel:4388625985',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >


  
    <Fragment slot="title">
      Contact US <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Immediately</span>
    </Fragment>

    <Fragment slot="subtitle">
      To turn your dreams into realities.
    </Fragment>
  </CallToAction>

  

  <!-- <script src="~/assets/js/plugins.js"></script> -->
  <!-- <script src="~/assets/js/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

  <!-- <script src="~/assets/js/shortcodes.js"></script> -->
</Layout>

<style>
  .btn-outline-orange {
    background: #ff3c00;
    color: white;
    /* color: #ff3c00; */
  }

  .font-body {
    font-size: 1.2rem;
    color: white;
  }
  .text-grey {
    color: white !important;
  }
  .font-body1 {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) { /* Adjust the min-width value as needed for your definition of 'big screens' */
  .padding-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
  .test {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
  }
  .overflow-hidden {
    overflow: hidden;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #ff3c00;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
  font-size: 36px;
  line-height: 0;
}

.services:hover .icon {
  box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.services .title a {
  color: #ffffff;
  transition: 0.3s;
}

.services .title a:hover {
  color: #ff3c00;
}

.services .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #ff3c00;
  bottom: 0;
  left: calc(50% - 25px);
}

.services .description {
  line-height: 24px;
  font-size: 18px;
}

.t-w {
  color: white !important;
}
.text-m1 {
  font-size: x-large ;
}
.services-components {
  border: 1px solid var(--accent-color);
  transition: all 0.5s ease-in;
}

iconify-icon.services-icon {
  font-size: 80px;
  color: var(--accent-color);
  transition: all 0.5s ease-in;
}

.services-heading {
  transition: all 0.5s ease-in;
}

.service-btn {
  transition: all 0.5s ease-in;

}
</style>
